{% extends "main/base.html" %}

{% block meta %}
    {% load staticfiles %}
    <link rel="stylesheet" href='{% static "css/bootstrap.min.css" %}'>
    <link rel="stylesheet" href='{% static "css/general.css" %}'>
	<link rel="stylesheet" href='{% static "css/base.css" %}'>
    <link rel="stylesheet" href='{% static "css/notes.css" %}'>
    <script language="JavaScript" src='{% static "js/setup_ajax.js" %}'></script>
    <script language="JavaScript" src='{% static "js/notes/scripts.js" %}'></script>
{% endblock %}

{% block content %}
    <article class="notes">
			<section class="mast">
				<h1>Заметки</h1>
			</section>
			<section class="content">
				<section class="navigation">
					<nav class="navbar">
						<div class="btn-group btn-group-lg">
							<button type="button" class="btn btn-warning" onclick="show_cards();">
								<picture>
									<img src='{% static "icons/card_icon.png" %}' class="icon">
								</picture>
							</button>
							<button type="button" class="btn btn-warning" onclick="show_list();">
								<picture>
									<img src='{% static "icons/list_icon.png" %}' class="icon">
								</picture>
							</button>
						</div>
						<button type="button" class="btn btn-lg btn-warning" data-toggle="modal" data-target="#New-Note">+</button>
						<div class="btn-group btn-group-lg">
							<button type="button" class="btn btn-warning" onclick="sort_notes_ajax('date_up')">Сначала новые</button>
							<button type="button" class="btn btn-warning" onclick="sort_notes_ajax('date_down')">Сначала старые</button>
							<button type="button" class="btn btn-warning" onclick="sort_notes_ajax('title_up')">А..Я</button>
							<button type="button" class="btn btn-warning" onclick="sort_notes_ajax('title_down')">Я..А</button>
						</div>
						<div class="alert alert-warning">
							<small>Всего заметок: 42</small> <br/>
							<small>Текстовых: 24</small> <br/>
							<small>Голосовых: 18</small> <br/>
						</div>
						<form id="search_note_form" onsubmit="return false;">
							{% load bootstrap %}
							{% csrf_token %}
							{{ search_note_form.result | bootstrap }}
						</form>
						<input id="search_note_btn" type="button" value="Search" class="btn btn-warning" onclick="search_notes_ajax()">
					</nav>
				</section>
				<section class="list-view">
					<div class="list-group" id="list_id">
						{% for item in notes_data %}
							<div id="note_{{item.2}}" onclick="get_note_data_ajax('{{item.2}}');">
								<a href="#" class="list-group-item list-group-item-action list-group-item-warning" data-toggle="modal" data-target="#Edit-Note">
									<h7 id="note_title_{{item.2}}">{{ item.0 }}</h7>
									<div class="date"> <small id="note_date_{{item.1}}">{{ item.1 }}</small></div>
								</a>
								<div id="note_data_{{ item.2}}" hidden>{{ item.3.0 | safe }}</div>
							</div>
						{% endfor %}
					</div>
				</section>
				<section class="card-view" hidden>
					<div class="row" id="cards_id">
						{% for item in notes_data %}
							<div class="col-md-4" data-toggle="modal" data-target="#Open-Note">
							<div class="card">
								<div class="card-body">
									<h3> {{ item.0 }} <small class="date">{{ item.1 }}</small></h3>
									<hr/>
									<p>
										...
									</p>
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
				</section>
				<nav class="navbar">
					<div class="btn-group btn-group-lg">
						<a href="#"><button type="button" class="btn btn-warning">&laquo;</button></a>
						<a href="#"><button type="button" class="btn btn-warning disabled">1</button></a>
						<a href="#"><button type="button" class="btn btn-warning">2</button></a>
						<a href="#"><button type="button" class="btn btn-warning">3</button></a>
						<a href="#"><button type="button" class="btn btn-warning">&raquo;</button></a>
					</div>
				</nav>
			</section>
		</article>
		<article class="modals">
			{% include "modals/notes.html" %}
            <div class="modal fade" id="Open-Note">
			    <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="modal-title">Creep</h2>
                        </div>
                        <div class="modal-body">
                            <p>I don't care if it hurts <br/>
                                I want to have control <br/>
                                I want a perfect body <br/>
                                I want a perfect soul <br/>
                                I want you to notice when I'm not around <br/>
                                You're so fucking special <br/>
                                I wish I was special
                            </p>
                            <small>28.02.2018</small> <br/>
                            <small class="text-muted">4.03.2018 (редакт.)</small>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Удалить</button>
                            <button type="button" class="btn btn-warning" data-dismiss="modal">ОК</button>
                        </div>
                    </div>
			    </div>
		    </div>
		</article>
{% endblock %}
