image: srx64/prom:v1

cache:
  paths:
  - ~/.cache/pip/

before_script:
  - pip install -r ci/requirements_ci.txt

documentation:
  script:
  - doxygen ci/Doxyfile_CI
  only:
  - develop
  
pages:
  script:
  - doxygen Doxyfile
  - mv docs/ public/
  artifacts:
    paths:
    - public
  only:
  - develop

code_style:
  script:
  - pycodestyle --ignore=E501,E265 main calendars notes todo
  only:
  - develop

test:
  script:
  - python manage.py test --settings=ci.settings_ci
  only:
  - develop
