.notes {
  background-color: #ffd;
  padding-bottom: 50px;
}

.mast {
  padding-top: 6em;
  padding-bottom: 6em;
  background-color: #fff3cd;
  text-align: center;
}


.card {
  background-color: #ffb;
  height: 300px;
  transition: 0.2s;
  margin: 10px;
  margin-bottom: 40px;
  cursor: pointer;
}

.card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: 0.2s;
}

.btn {
  color: #fff;
}

.btn:hover {
  color: #fff;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: none;
  color: #000;
}

.last {
  border: 5px #c90 dotted;
  text-align: center;
  background-color: #ffe;
  font-size: 50pt;
  padding-top: 20%;
}

.disabled a {
  color: #fff;
}

.navbar a {
  color: #fff;
}

.modal-header {
  background-color: #ffd;
  border-bottom: 0px;
}

.modal-body {
  background-color: #ffe;
}

.modal-footer {
  background-color: #ffd;
  border-top: 0px;
}

.date {
  font-size: 10pt;
  float: right;
}

.user-image {
  width: 50px;
  height: 50px;
}
