{% extends "main/base.html" %}

{% block content %}
    <h1>{{ header }}</h1>
    <p>Completed Todos</p>
    <a href="/todo"><input type="submit" value="Todos"></a>
    <hr>
    <aside>
        <input type="submit" name="AtoZ" value="From A to Z">
        <input type="submit" name="ZtoA" value="From Z to A">
        <input type="submit" name="new" value="Last created">
        <input type="submit" name="old" value="Oldest created">
    </aside>
    <hr>
    <div id="todo_list">
        {% for item in items %}
            {% csrf_token %}
            <li>
                <a href='/todo/show/{{ item.2 }}'>{{ item.0 }}</a> - added at {{ item.1 }}
            </li>
            <input type="submit" onclick="status_change({{ item.2 }}, 'in progress')" value="Reopen">
            <hr>
        {% endfor %}
    </div>

    <script>
        function view_by_status(status){
            $.ajax({
                type: "POST",
                url: '/todo/view',
                data: {},
                success: function(response){

                }
            });
        };
    </script>

    <script>
        function sort_ajax(type){
            $.ajax({
                type: "POST",
                url: '/todo/sort',
                data: {'data': type},
                success: function(response){
                    if (response['result'] == "Success"){
                        $("#todo_list").html('');
                        for (var i = 0; i < response['todo_list'].length; i++){
                            $("#todo_list").append("<li><a href='/todo/show/" + response['todo_list'][i][2] + "'>" + response['todo_list'][i][0] + "</a></li> - added at " + response['todo_list'][i][1])
                        }
                    }
                }
            });
        };
    </script>

    <script>
        function status_change(id, type){
            $.ajax({
                type: "POST",
                url: '/todo/change',
                data: {'id': id, 'type': type}
            });
        };
    </script>

{% endblock %}