<!DOCTYPE html>
<html>
<head>
    <title>About Eva</title>
</head>
<style>
    body {
        text-align: center;
        color: #fff;
        background-color: #000;
        margin-right: 5em;
        margin-left: 5em;
    }
    p {
        background-color: #333;
        border: 2px solid red;
        box-shadow: 0px 10px 10px 0px #000;
        padding: 25px;
    }
</style>
<body>
    <h1>About Eva</h1>
    <p> Ева, это сайт-органайзер. Ева - это ваш помощник по жизни. На нашем сайте присутствует 3 раздела : Заметки, Календарь, Напомнинания.
    Если вы придумали гениальную идею ,но вы боитесь ее забыть , Ева и ее раздел Заметки ,поможет вам.
    С Евой ,вы сможете отметить мероприятие  в нашем разделе Календарь

    Наш сайт оснащен синтезом речи от Яндекс. С помощью его мы наделили Еву голосом.
    С Евой ,и ее голосовыми напомниниями ,пользователь никогда не забудет о своих важных делах

    Каждую заметку, каждое напоминание
    пользователю не обязательно печатать, вы можете обратиться к Еве,и оставить голосовую заметку или напоминание
    В любую минуту вы сможете сменить язык с русского на английский ,в наших настройках сайта

    В нашем проекте минимум недочетов, и надеемся без багов.

    Над Евой работали ,самые ответственные Бэкэндеры и Фронтэндеры всего мира (51 первой группы)

    Команда фронтэндеров трудилась над созданием удобного и приятного дизайна. Цвет и основной стиль сайта ,не будет раздражать ваши глаза.

    Команда бэкэндеров ,грамотно написав движок сайта , смогла наделить наш проект жизнью </p>
</body>
</html>