{% extends "main/base.html" %}
{% block meta %}
    {% load staticfiles %}
    <link rel="stylesheet" href='{% static "css/bootstrap.min.css" %}'>
    <link rel="stylesheet" href='{% static "css/general.css" %}'>
	<link rel="stylesheet" href='{% static "css/index.css" %}'>
    <link rel="stylesheet" href='{% static "css/base.css" %}'>
    <script charset='utf-8' type="text/javascript" src='{% static "js/setup_ajax.js" %}'></script>
    <script charset='utf-8' type="text/javascript" src='{% static "js/main/home/scripts.js" %}'></script>
    <script charset="utf-8" language="JavaScript" src='{% static "js/todo/scripts.js" %}'></script>
    <script src="http://api-maps.yandex.ru/2.1/?load=package.full&lang=ru-RU" type="text/javascript"></script>
{% endblock %}

{% block content %}
    <div class="carousel">
        <div class="carousel-item active">
            <div class="carousel-caption text-left">
                <script> 
                var h=(new Date()).getHours(); 
                    if (h >= 23 || h < 6) document.write("<h1>{{ lang.good_night }}, {{ request.user.first_name }}</h1>");
                    if (h >= 6 && h < 12) document.write("<h1>{{ lang.good_morning }}, {{ request.user.first_name }}</h1>");
                    if (h >= 12 && h < 17) document.write("<h1>{{ lang.good_day }}, {{ request.user.first_name }}</h1>");
                    if (h >= 17 && h < 23) document.write("<h1>{{ lang.good_evening }}, {{ request.user.first_name }}</h1>");
                </script> 
                <h3>{{ lang.latest_note_title }}: </h3>
                {% if last_note_exists %}
                    <p><a href="" class="link-section" id="last_note_title" data-toggle="modal" data-target="#Note-Card" onclick="get_note_data_ajax({{ last_note_id }})">{{ last_note_title }}</a></p>
                {% else %}
                    <p><a class="link-section" id="last_note_title">{{ lang.no_notes_title }}</a></p>
                {% endif %}
                <h3>{{ lang.nearest_event_title }}: </h3>
                {% if nearest_event_exists %}
                    <p><a href="#" class="link-section">{{ nearest_event_name }}</a><br/>
                        <small><i id="nearest_event_info">{{ nearest_event_date }}</i></small>
                    </p>
                {% else %}
                    <p><a href="#" class="link-section">{{ lang.no_events_title }}</a><br/></p>
                {% endif %}
                <h3>{{ lang.closest_reminder_title }}: </h3>
                {% if nearest_todo_exists %}
                    <p><a href="#" class="link-section">{{ nearest_todo_name }}</a></p>
                {% else %}
                    <p><a href="#" class="link-section">{{ lang.no_todo_title }}</a></p>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h2><a class="btn btn-warning btn-lg btn-block section" href='{% url "notes.index" %}'>{{ lang.notes_title }}</a></h2>
                <div class="card">
                    <div class="card-body">
                        <h4>{{ lang.latest_notes }}:</h4>
                        {% if last_notes_count == 0 %}
                            <h5>{{ lang.no_notes_title }}</h5>
                            <div id="last_notes_holder">
                            </div>
                        {% else %}
                            <div id="last_notes_holder">
                                {% for note in last_notes %}
                                    <div id="note_{{ note.id }}"><p class="lead"> <a href="#" data-toggle="modal" data-target="#Note-Card" onclick="get_note_data_ajax({{ note.id }})" id="note_title_{{ note.id }}">{{ note.title }}</a></p></div>
                                {% endfor %}
                                <p class="lead"> <small><a href='{% url "notes.index" %}'>{{ lang.notes_showall }}</a></small></p>
                            </div>
                        {% endif %}
                        <a href="#" class="badge badge-warning add-new" data-toggle="modal" data-target="#New-Note" onclick="clean_add_note_fields()"><font class="plus">+</font></a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h4>{{ lang.notes_total}} : {{ all_notes_count }}</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <h2><a class="btn btn-danger btn-lg btn-block section" href='{% url "calendar.index" %}'>{{ lang.calendars_title }}</a></h2>
                <div class="card">
                    <div class="card-body">
                        <h4>{{ lang.closest_events_calendar }}:</h4>
                        <p class="lead"> {{ lang.events_onday }}: <span class="text-muted">{% if today_event_exists %}<a href="#" data-toggle="modal" data-target="#Event-Card" onclick="get_event_data_ajax({{ today_event_id }})">{{ today_event_name }}</a>{% else %}{{ lang.calendar_nothing_planned }}{% endif %}</span></p>
                        <p class="lead">{{ lang.events_onweek }}: <a href="#" data-toggle="modal" data-target="#Event">Дедлайн</a> <a href="#" data-toggle="modal" data-target="#Event">День рождения Алисы</a></p>
                        <a href="#" class="badge badge-danger add-new" data-toggle="modal" data-target="#New-Date"><font class="plus">+</font></a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h4>{{ lang.events_total }} : {{ all_events_count }}</h4>
                        <p class="lead">{{ lang.events_today }}: {{ today_events_count }}</p>
                        <p class="lead">{{ lang.events_yesterday}}: {{ yesterday_events_count }}</p>
                        <p class="lead">{{ lang.events_week }}: {{ week_events_count }}</p>
                        <p class="lead">{{ lang.events_month }}: {{ month_events_count }}</p>
                        <p class="lead">{{ lang.events_year }}: {{ year_events_count }}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <h2><a class="btn btn-primary btn-lg btn-block section" href='{% url "todo.index" %}'>{{ lang.reminders_title }}</a></h2>
                <div class="card">
                    <div class="card-body">
                        <h4>{{ lang.latest_reminders }}:</h4>
                        {% if active_notes_count == 0 %}
                            <h5>{{ lang.no_todo_title ]}</h5>
                        {% else %}
                            {% for todo in last_active_todo %}
                                <p class="lead"> <a href="#" data-toggle="modal" data-target="#Open-Todo"></a> <a href="#" class="badge badge-primary">&#10003;</a> </p>
                            {% endfor %}
                        {% endif %}
                        <h4>{{ lang.closed_reminders }}:</h4>
                        {% if finished_notes_count == 0 %}
                            <h5>{{ lang.no_todo_title }}</h5>
                        {% else %}
                            {% for todo in last_finished_todo %}
                                <p class="lead"> <a href="#" data-toggle="modal" data-target="#Open-Todo-2"></a> <a href="#" class="badge badge-primary">&#10007;</a> </p>
                            {% endfor %}
                        {% endif %}
                        <p class="lead"> <small><a href='{% url "todo.index" %}'>{{ lang.reminders_showall }}</a></small></p>
                        <a href="#" class="badge badge-primary add-new" data-toggle="modal" data-target="#New-Todo"><font class="plus">+</font></a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h4>{{ lang.total_reminders }} : {{ all_todo_count }}</h4>
                        <p class="lead"> {{ lang.active_reminders }}: {{ active_todo_count }} </p>
                        <p class="lead"> {{ lang.closed_reminders_count }}: {{ finished_todo_count }} </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block footer %}
{% if user.is_authenticated %}
<footer class="container py-5">
      <div class="row">
        <div class="col-12 col-md">
          <a href='{% url "index" %}'><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mb-2 logo"><circle cx="12" cy="12" r="10"></circle><line x1="14.31" y1="8" x2="20.05" y2="17.94"></line><line x1="9.69" y1="8" x2="21.17" y2="8"></line><line x1="7.38" y1="12" x2="13.12" y2="2.06"></line><line x1="9.69" y1="16" x2="3.95" y2="6.06"></line><line x1="14.31" y1="16" x2="2.83" y2="16"></line><line x1="16.62" y1="12" x2="10.88" y2="21.94"></line></svg></a>
          <small class="d-block mb-3 text-muted">MPS51 Team</small>
          <small class="d-block mb-3 text-muted">&copy; 2017-2018</small>
        </div>
        <div class="col-6 col-md">
          <h5>{{ lang.navigation_title }}</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href='{% url "index" %}'>{{ lang.title }}</a></li>
            <li><a class="text-muted" href='{% url "notes.index" %}'>{{ lang.notes_title }}</a></li>
            <li><a class="text-muted" href='{% url "calendar.index" %}'>{{ lang.calendars_title }}</a></li>
            <li><a class="text-muted" href='{% url "todo.index" %}'>{{ lang.reminders_title }}</a></li>
            <li><a class="text-muted" href='{% url "userprofile.index" %}'>{{ lang.account_title }}</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>{{ lang.resources_title }}</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Яндекс API</a></li>
            <li><a class="text-muted" href="#">Bootstrap 4</a></li>
            <li><a class="text-muted" href="#">jQuery</a></li>
            <li><a class="text-muted" href="#">Django</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>{{ lang.social_network_title }}</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">VK</a></li>
            <li><a class="text-muted" href="#">Telegram</a></li>
            <li><a class="text-muted" href="#">GitLab</a></li>
            <li><a class="text-muted" href="#">Instagram</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>{{ lang.help_title }}</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">О нас</a></li>
            <li><a class="text-muted" href="about.html">О сайте</a></li>
            <li><a class="text-muted" href="#">Контакты</a></li>
            <li><a class="text-muted" href="#">Приложение под iOS</a></li>
            <li><a class="text-muted" href="#">Приложение под Android</a></li>
          </ul>
        </div>
      </div>
    </footer>
{% endif %}
{% endblock %}

    <script src='https://cdnjs.cloudflare.com/ajax/libs/react/15.6.1/react.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/react/15.6.1/react-dom.min.js'></script>
    <script src='{% static "js/clock.js" %}'></script>
    <script>
        ymaps.ready(function () {
            var coords = '{{ nearest_event_place }}'.split('|');
            if (coords.length == 2)
            {
                ymaps.geocode(coords).then(function (res) {
                    var firstGeoObject = res.geoObjects.get(0);
                    $('#nearest_event_info').append(' | ' + firstGeoObject.getAddressLine());
                });
            }
        });
    </script>
    {% include "modals/notes.html" %}
    {% include "modals/calendar.html" %}
    {% include "modals/small_parts.html" %}
    {% include "modals/todo.html" %}
{% endblock %}
