{% extends "main/base.html" %}
{% block meta %}
    {% load staticfiles %}
    <link rel="stylesheet" href='{% static "css/bootstrap.min.css" %}'>
    <link rel="stylesheet" href='{% static "css/general.css" %}'>
	<link rel="stylesheet" href='{% static "css/index.css" %}'>
    <link rel="stylesheet" href='{% static "css/base.css" %}'>
    <link rel="stylesheet" href='{% static "css/clock.css" %}'>
    <script charset='utf-8' type="text/javascript" src='{% static "js/setup_ajax.js" %}'></script>
    <script charset='utf-8' type="text/javascript" src='{% static "js/main/home/scripts.js" %}'></script>
    <script charset="utf-8" language="JavaScript" src='{% static "js/todo/scripts.js" %}'></script>
    <script>setup_link({% url "notes.index" %});</script>
{% endblock %}

{% block content %}
    <div class="carousel">
        <div class="carousel-item active">
            <img class="first-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==">
            <div class="carousel-caption text-left">
                <script> 
                var h=(new Date()).getHours(); 
                    if (h >= 23 || h < 6) document.write("<h1>Доброй ночи, {{ request.user.first_name }}</h1>");
                    if (h >= 6 && h < 12) document.write("<h1>Доброе утро, {{ request.user.first_name }}</h1>");
                    if (h >= 12 && h < 17) document.write("<h1>Добрый день, {{ request.user.first_name }}</h1>");
                    if (h >= 17 && h < 23) document.write("<h1>Добрый вечер, {{ request.user.first_name }}</h1>");
                </script> 
                <h3>Ближайшее мероприятие: </h3>
                {% if nearest_event_exists %}
                    <p><a href="#" class="link-section">{{ nearest_event_name }}</a><br/>
                        <small><i>{{ nearest_event_date }} | Place here</i></small>
                    </p>
                {% else %}
                    <p><a href="#" class="link-section">Нет событий</a><br/></p>
                {% endif %}
                <h3>Скорейшее напоминание: </h3>
                <p><a href="#" class="link-section">Отдать Бобу диски</a></p>
                <h3>Последняя заметка: </h3>
                {% if last_note_exists %}
                    <p><a href="#" class="link-section">{{ last_note_title }}</a></p>
                {% else %}
                    <p><a href="#" class="link-section">Нет заметок</a></p>
                {% endif %}
            </div>
        </div>
    </div>
    <div id="clock_root"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h2><a class="btn btn-warning btn-lg btn-block section" href='{% url "notes.index" %}'>Заметки</a></h2>
                <div class="card">
                    <div class="card-body">
                        <h4>Последние заметки:</h4>
                        {% if last_notes_count == 0 %}
                            <h5>Нет заметок</h5>
                            <div id="last_notes_holder">
                            </div>
                        {% else %}
                            <div id="last_notes_holder">
                                {% for note in last_notes %}
                                    <div id="note_{{ note.id }}"><p class="lead"> <a href="#" data-toggle="modal" data-target="#Note-Card" onclick="get_note_data_ajax({{ note.id }})" id="note_title_{{ note.id }}">{{ note.name }}</a></p></div>
                                {% endfor %}
                                <p class="lead"> <small><a href='{% url "notes.index" %}'>Показать все</a></small></p>
                            </div>
                        {% endif %}
                        <a href="#" class="badge badge-warning add-new" data-toggle="modal" data-target="#New-Note" onclick="clean_add_note_fields()"><font class="plus">+</font></a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h4>Всего заметок : {{ all_notes_count }}</h4>
                        <p class="lead"> {{ text_notes_count }} текстовых </p>
                        <p class="lead"> {{ voice_notes_count }} голосовых </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <h2><a class="btn btn-danger btn-lg btn-block section" href='{% url "calendar.index" %}'>Календарь</a></h2>
                <div class="card">
                    <div class="card-body">
                        <h4>Ближайшие события календаря:</h4>
                        <p class="lead"> На день: <span class="text-muted">{% if today_event_exists %}<a href="#" data-toggle="modal" data-target="#Event-Card" onclick="get_event_data_ajax({{ today_event_id }})">{{ today_event_name }}</a>{% else %}Ничего не запланировано{% endif %}</span></p>
                        <p class="lead"> На неделю: <a href="#" data-toggle="modal" data-target="#Event">Дедлайн</a> <a href="#" data-toggle="modal" data-target="#Event">День рождения Алисы</a></p>
                        <a href="#" class="badge badge-danger add-new" data-toggle="modal" data-target="#New-Date"><font class="plus">+</font></a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h4>Всего событий : {{ all_events_count }}</h4>
                        <p class="lead">Событий за сегодня: {{ today_events_count }}</p>
                        <p class="lead">Событий за вчера: {{ yesterday_events_count }}</p>
                        <p class="lead">Событий за неделю: {{ week_events_count }}</p>
                        <p class="lead">Событий за месяц: {{ month_events_count }}</p>
                        <p class="lead">Событий за год: {{ year_events_count }}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <h2><a class="btn btn-primary btn-lg btn-block section" href='{% url "todo.index" %}'>Напоминания</a></h2>
                <div class="card">
                    <div class="card-body">
                        <h4>Последние напоминания:</h4>
                        <p class="lead"> <a href="#" data-toggle="modal" data-target="#Open-Todo">Отдать Бобу диски</a> <a href="#" class="badge badge-primary">&#10003;</a> </p>
                        <p class="lead"> <a href="#" data-toggle="modal" data-target="#Open-Todo">Напомнить Саше про сотку</a> <a href="#" class="badge badge-primary">&#10003;</a> </p>
                        <p class="lead"> <a href="#" data-toggle="modal" data-target="#Open-Todo">Забрать заказ</a> <a href="#" class="badge badge-primary">&#10003;</a> </p>
                        <h4>Завершенные напоминания:</h4>
                        <p class="lead"> <a href="#" data-toggle="modal" data-target="#Open-Todo-2">Убраться в комнате</a> <a href="#" class="badge badge-primary">&#10007;</a> </p>
                        <p class="lead"> <a href="#" data-toggle="modal" data-target="#Open-Todo-2">Сделать макет страницы</a> <a href="#" class="badge badge-primary">&#10007;</a> </p>
                        <p class="lead"> <small><a href='{% url "todo.index" %}'>Показать все</a></small></p>
                        <a href="#" class="badge badge-primary add-new" data-toggle="modal" data-target="#New-Todo"><font class="plus">+</font></a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h4>Всего напоминаний : 26</h4>
                        <p class="lead"> Активных напоминаний: 6 </p>
                        <p class="lead"> Завершенных напоминаний: 20 </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/react/15.6.1/react.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/react/15.6.1/react-dom.min.js'></script>
    <script src='{% static "js/clock.js" %}'></script>
    {% include "modals/notes.html" %}
    {% include "modals/calendar.html" %}
    {% include "modals/small_parts.html" %}
    {% include "modals/todo.html" %}
{% endblock %}
