{% extends "main/base.html" %}
{% block css_link %} <link rel="stylesheet" href="static/css/index.css"> {% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="carousel">
			<div class="carousel-item active">
				<img class="first-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==">
				<div class="carousel-caption text-left">
					<h1>Добрый день, Иван</h1>
					<h3>Ближайшее мероприятие: </h3>
					<p><a href="#" class="link-section">Дедлайн</a><br/>
						<small><i>25.10.2018 10:00 AM | Школа Анализа Данных</i></small>
					</p>
					<h3>Скорейшее напоминание: </h3>
					<p><a href="#" class="link-section">Отдать Бобу диски</a></p>
					<h3>Закрепленная заметка: </h3>
					<p><a href="#" class="link-section">Резервные коды</a></p>
				</div>
			</div>
		</div>
	<!-- Меню -->
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<h2><a class="btn btn-warning btn-lg btn-block section" href="/notes">Заметки</a></h2>
					<div class="card">
						<div class="card-body">
							<h4>Последние заметки:</h4>
							<p class="lead"> <a href="#" data-toggle="modal" data-target="#Open-Note">Список покупок</a></p>
							<p class="lead"> <a href="#" data-toggle="modal" data-target="#Open-Note">Резервные коды</a></p>
							<p class="lead"> <a href="#" data-toggle="modal" data-target="#Open-Note">Идеи для подарка</a></p>
							<p class="lead"> <small><a href="/notes">Показать все</a></small></p>
							<a href="#" class="badge badge-warning add-new" data-toggle="modal" data-target="#New-Note"><font class="plus">+</font></a>
						</div>
					</div>
					<div class="card">
						<div class="card-body">
							<h4>Всего заметок : 42</h4>
							<p class="lead"> 24 текстовых </p>
							<p class="lead"> 18 голосовых </p>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<h2><a class="btn btn-danger btn-lg btn-block section" href="/calendar">Календарь</a></h2>
					<div class="card">
						<div class="card-body">
							<h4>Ближайшие события календаря:</h4>
							<p class="lead"> На день: <span class="text-muted">Ничего не запланированно</span></p>
							<p class="lead"> На неделю: <a href="#" data-toggle="modal" data-target="#Event">Дедлайн</a> <a href="#" data-toggle="modal" data-target="#Event">День рождения Алисы</a></p>
							<a href="#" class="badge badge-danger add-new" data-toggle="modal" data-target="#New-Date"><font class="plus">+</font></a>
						</div>
					</div>
					<div class="card">
						<div class="card-body">
							<h4>Всего событий : 72</h4>
							<p class="lead">Событий за сегодня: 0 </p>
							<p class="lead">Событий за вчера: 2 </p>
							<p class="lead">Событий за неделю: 7 </p>
							<p class="lead">Событий за месяц: 27 </p>
							<p class="lead">Событий за год: 54 </p>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<h2><a class="btn btn-primary btn-lg btn-block section" href="/todo">Напоминания</a></h2>
					<div class="card">
						<div class="card-body">
							<h4>Последние напоминания:</h4>
							<p class="lead"> <a href="#" data-toggle="modal" data-target="#Open-Todo">Отдать Бобу диски</a> <a href="#" class="badge badge-primary">&#10003;</a> </p>
							<p class="lead"> <a href="#" data-toggle="modal" data-target="#Open-Todo">Напомнить Саше про сотку</a> <a href="#" class="badge badge-primary">&#10003;</a> </p>
							<p class="lead"> <a href="#" data-toggle="modal" data-target="#Open-Todo">Забрать заказ</a> <a href="#" class="badge badge-primary">&#10003;</a> </p>
							<h4>Завершенные напоминания:</h4>
							<p class="lead"> <a href="#" data-toggle="modal" data-target="#Open-Todo-2">Убраться в комнате</a> <a href="#" class="badge badge-danger">&#10007;</a> </p>
							<p class="lead"> <a href="#" data-toggle="modal" data-target="#Open-Todo-2">Сделать макет страницы</a> <a href="#" class="badge badge-danger">&#10007;</a> </p>
							<p class="lead"> <small><a href="/todolist">Показать все</a></small></p>
							<a href="#" class="badge badge-primary add-new" data-toggle="modal" data-target="#New-Todo"><font class="plus">+</font></a>
						</div>
					</div>
					<div class="card">
						<div class="card-body">
							<h4>Всего напоминаний : 26</h4>
							<p class="lead"> Активных напоминаний: 6 </p>
							<p class="lead"> Завершенных напоминаний: 20 </p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="New-Note">
			<div class="modal-dialog modal-lg modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h2 class="modal-title">Создание заметки</h2>
					</div>
					<div class="modal-body">
						<form>
							<div class="form-group">
								<h3>Название</h3>
								<input type="name" class="form-control" placeholder="Заметочка">
							</div>
							<div class="form-group">
								<h3>Текст</h3>
								<textarea class="form-control" rows="7" placeholder="Текст"></textarea>
								<div class="btn-group btn-group-sm WYSIWYG">
									<button type="button" class="btn btn-warning" style="color: #fff;"><strong>B</strong></button>
									<button type="button" class="btn btn-warning" style="color: #fff;"><em>I</em></button>
									<button type="button" class="btn btn-warning" style="color: #fff;"><del>S</del></button>
									<button type="button" class="btn btn-warning" style="color: #fff;"><ins>U</ins></button>
								</div>
							</div>
							<div class="form-group">
								<h3>Изображение </h3>
								<input type="file" class="form-control-file">
							</div>
						</form>
						<h3>Записать аудио</h3>
						<button type="button" class="btn btn-warning btn-lg btn-block">
							<picture>
								<img src="static/icons/micro_icon.png">
							</picture>
						</button>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-dismiss="modal">Отменить</button>
						<button type="button" class="btn btn-warning">Создать</button>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="New-Date">
			<div class="modal-dialog modal-lg modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h2 class="modal-title">Создание мероприятия</h2>
					</div>
					<div class="modal-body">
						<form>
							<div class="form-group">
								<h3>Название</h3>
								<input type="name" class="form-control" placeholder="Мероприятиеюшка">
							</div>
							<div class="form-group">
								<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#Choose-Date">
								Выбрать дату
								</button>
								<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#Choose-Time">
								Выбрать время
								</button>
							</div>
							<div class="form-group">
								<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#Choose-Place">
								Выбрать место
								</button>
								<span><small>Место и время по желанию</small></span>
							</div>
							<div class="form-group">
								<h3>Описание</h3>
								<textarea class="form-control" rows="7" placeholder="Описание (по желанию)"></textarea>
								<div class="btn-group btn-group-sm WYSIWYG">
									<button type="button" class="btn btn-danger"><strong>B</strong></button>
									<button type="button" class="btn btn-danger"><em>I</em></button>
									<button type="button" class="btn btn-danger"><del>S</del></button>
									<button type="button" class="btn btn-danger"><ins>U</ins></button>
								</div>
							</div>
							<div class="form-group">
								<div class="form-check btn btn-danger">
									<input class="form-check-input" type="checkbox">
									<label class="form-check-label"> Приватное мероприятие</label>
								</div>
							</div>
						</form>
						<h3>Записать аудио</h3>
						<button type="button" class="btn btn-danger btn-lg btn-block">
							<picture>
								<img src="static/icons/micro_icon.png">
							</picture>
						</button>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-dismiss="modal">Отменить</button>
						<button type="button" class="btn btn-danger">Создать</button>
					</div>
				</div>
			</div>
		</div>

      <div class="modal fade" id="Choose-Date">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h2 class="modal-title">Выбор даты</h2>
            </div>
            <div class="modal-body">
              <form>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Отменить</button>
              <button type="button" class="btn btn-danger">ОК</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="Choose-Time">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h2 class="modal-title">Выбор времени</h2>
            </div>
            <div class="modal-body">
              <form>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Отменить</button>
              <button type="button" class="btn btn-danger">ОК</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="Choose-Place">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h2 class="modal-title">Выбор места</h2>
            </div>
            <div class="modal-body">
              <form>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Отменить</button>
              <button type="button" class="btn btn-danger">ОК</button>
            </div>
          </div>
        </div>
      </div>

		<div class="modal fade" id="New-Todo">
			<div class="modal-dialog modal-lg modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h2 class="modal-title">Создание напоминания</h2>
					</div>
					<div class="modal-body">
						<form>
							<div class="form-group">
								<h3>Название</h3>
								<input type="name" class="form-control" placeholder="Напоминалочка">
							</div>
							<div class="form-group">
								<h3>Текст</h3>
								<textarea class="form-control" rows="7" placeholder="Текст"></textarea>
								<div class="btn-group btn-group-sm WYSIWYG">
									<button type="button" class="btn btn-primary"><strong>B</strong></button>
									<button type="button" class="btn btn-primary"><em>I</em></button>
									<button type="button" class="btn btn-primary"><del>S</del></button>
									<button type="button" class="btn btn-primary"><ins>U</ins></button>
								</div>
							</div>
							<div class="form-group">
								<h3> Приоритет </h3>
								<button type="button" class="btn btn-primary btn-sm">1</button>
								<button type="button" class="btn btn-primary btn-sm">2</button>
								<button type="button" class="btn btn-primary btn-sm">3</button>
								<button type="button" class="btn btn-primary btn-sm">4</button>
								<button type="button" class="btn btn-primary btn-sm">5</button>
							</div>
						</form>
						<h3>Записать аудио</h3>
						<button type="button" class="btn btn-primary btn-lg btn-block">
							<picture>
								<img src="static/icons/micro_icon.png">
							</picture>
						</button>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-dismiss="modal">Отменить</button>
						<button type="button" class="btn btn-primary">Создать</button>
					</div>
				</div>
			</div>
		</div>

	<div class="modal fade" id="Event">
        <div class="modal-dialog modal-lg modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h2 class="modal-title">День Рождения</h2>
            </div>
            <div class="modal-body">
              <h3>23.10.2018</h3>
              <hr/>
              <h3>Весь день</h3>
              <hr/>
              <h3>г.Мытищи, МО, Россия</h3>
              <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#Watch-in-Map">Посмотреть на карте</button>
              <hr/>
              <h4>
                А я Никита, ля-ля-ля-ляяяяя
              </h4>
              <hr/>
              <div class="form-group">
                <div class="like">
                  <button type="button" class="btn btn-danger btn-sm">:) <span>12</span></button>
                  <button type="button" class="btn btn-danger btn-sm">:( <span>2</span></button>
                </div>
                <textarea class="form-control" rows="3" cols="3" placeholder="Комментарий"></textarea>
                <div class="btn-group btn-group-sm WYSIWYG">
                  <button type="button" class="btn btn-danger"><strong>B</strong></button>
                  <button type="button" class="btn btn-danger"><em>I</em></button>
                  <button type="button" class="btn btn-danger"><del>S</del></button>
                  <button type="button" class="btn btn-danger"><ins>U</ins></button>
                </div>
                <button type="button" class="btn btn-danger" style="margin-top: 5px;">Отправить</button>
                <button class="btn btn-danger" style="margin-top: 5px;" type="button" data-toggle="collapse" data-target="#collapseExample">
                Посмотреть комментарии
                </button>
                <div class="collapse" id="collapseExample">
                  <div class="card bg-danger comment">
                    <div class="card-header">
                      <picture><img src="static/img/avatar.png"></picture>
                      <h5>John Doe</h5>
                      <span class="date-of-comments">28.02.2018</span>
                    </div>
                    <div class="card-body">
                      <p class="card-text">I think, it will be so <i>cool</i>.</p>
                    </div>
                  </div>
                  <div class="card bg-danger comment">
                    <div class="card-header">
                      <picture><img src="static/img/avatar.png"></picture>
                      <h5>Alice</h5>
                      <span class="date-of-comments">27.02.2018</span>
                    </div>
                    <div class="card-body">
                      <p class="card-text">Yep-yep, I thinking about it too.</p>
                    </div>
                  </div>
                  <div class="card bg-danger comment">
                    <div class="card-header">
                      <picture><img src="static/img/avatar.png"></picture>
                      <h5>Bob</h5>
                      <span class="date-of-comments">26.02.2018</span>
                    </div>
                    <div class="card-body">
                      <p class="card-text">I hope.</p>
                    </div>
                  </div>
                  <nav class="navbar">
                    <div class="btn-group btn-group-sm">
                      <a href="#"><button type="button" class="btn btn-danger">&laquo;</button></a>
                      <a href="#"><button type="button" class="btn btn-danger disabled">1</button></a>
                      <a href="#"><button type="button" class="btn btn-danger">2</button></a>
                      <a href="#"><button type="button" class="btn btn-danger">3</button></a>
                      <a href="#"><button type="button" class="btn btn-danger">&raquo;</button></a>
                    </div>
                  </nav>
                  <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#collapseExample">Закрыть</button>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Удалить</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal">ОК</button>
            </div>
          </div>
        </div>
      </div>

		<div class="modal fade" id="Open-Note">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h2 class="modal-title">Creep</h2>
					</div>
					<div class="modal-body">
						<p>I don't care if it hurts <br/>
							I want to have control <br/>
							I want a perfect body <br/>
							I want a perfect soul <br/>
							I want you to notice when I'm not around <br/>
							You're so fucking special <br/>
							I wish I was special
						</p>
						<small>28.02.2018</small> <br/>
						<small class="text-muted">4.03.2018 (редакт.)</small>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-dismiss="modal">Удалить</button>
						<button type="button" class="btn btn-warning" data-dismiss="modal">ОК</button>
					</div>
				</div>
			</div>
		</div>

			<div class="modal fade" id="Open-Todo">
				<div class="modal-dialog modal modal-dialog-centered">
					<div class="modal-content">
						<div class="modal-header">
							<h2 class="modal-title">Доделать проект</h2>
						</div>
						<div class="modal-body">
							<p> Да уж, надо бы</p>
							<small>28.02.2018 | 18:14 </small>
							<hr>
							<div class="form-group">
								<h3> Приоритет </h3>
								<span class="badge badge-pill priority">!</span>
								<span class="badge badge-pill priority">!</span>
								<span class="badge badge-pill priority">!</span>
							</div>
							<hr>
							<h3> Cтатус </h3>
							<p> Не выполнено </p>
							<button type="button" class="btn btn-info">&#10003;</button>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-danger" data-dismiss="modal">Удалить</button>
							<button type="button" class="btn btn-primary" data-dismiss="modal">ОК</button>
						</div>
					</div>
				</div>
			</div>

			<div class="modal fade" id="Open-Todo-2">
				<div class="modal-dialog modal modal-dialog-centered">
					<div class="modal-content">
						<div class="modal-header">
							<h2 class="modal-title">Доделать проект</h2>
						</div>
						<div class="modal-body">
							<p> Да уж, надо бы</p>
							<small>28.02.2018 | 18:14 </small>
							<hr>
							<div class="form-group">
								<h3> Приоритет </h3>
								<span class="badge badge-pill priority">!</span>
								<span class="badge badge-pill priority">!</span>
								<span class="badge badge-pill priority">!</span>
							</div>
							<hr>
							<h3> Cтатус </h3>
							<p> Выполнено </p>
							<button type="button" class="btn btn-info">&#10007;</button>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-danger" data-dismiss="modal">Удалить</button>
							<button type="button" class="btn btn-primary" data-dismiss="modal">ОК</button>
						</div>
					</div>
				</div>
			</div>

    {% else %}
        <script type="text/javascript">
            function reloadPage()
            {
                window.location.reload()
            }
        </script>
    {% endif %}
{% endblock %}
