{% extends "main/base.html" %}
{% block meta %}
    {% load staticfiles %}
    {% load bootstrap %}
    <link rel="stylesheet" href='{% static "css/bootstrap.min.css" %}'>
    <link rel="stylesheet" href='{% static "css/general.css" %}'>
	<link rel="stylesheet" href='{% static "css/cover.css" %}'>
    <script charset='utf-8' type="text/javascript" src='{% static "js/setup_ajax.js" %}'></script>
    <script charset='utf-8' type="text/javascript" src='{% static "js/main/index/scripts.js" %}'></script>
{% endblock %}

{% block content %}
    <div class="text-center">
        <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
            <header class="masthead mb-auto">
                <div class="inner">
                    <h1 class="masthead-brand">EVA</h1>
                </div>
            </header>
            <main>
		      <section id="myCarousel" class="carousel slide" data-ride="carousel">
		        <ol class="carousel-indicators">
		          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		          <li data-target="#myCarousel" data-slide-to="1"></li>
		          <li data-target="#myCarousel" data-slide-to="2"></li>
		        </ol>
		        <div class="carousel-inner">
		          <div class="carousel-item active">
		           <div class="container">
		              <div class="carousel-caption">
		                <h1>Заметки</h1>
		                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
		              </div>
		            </div>
		          </div>
		          <div class="carousel-item">
		            <div class="container">
		              <div class="carousel-caption">
		                <h1>Календарь</h1>
		                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
		              </div>
		            </div>
		          </div>
		          <div class="carousel-item">
		           <div class="container">
		              <div class="carousel-caption">
		                <h1>Напоминания</h1>
		                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
		              </div>
		            </div>
		          </div>
		        </div>
		        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
		          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
		        </a>
		        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
		          <span class="carousel-control-next-icon" aria-hidden="true"></span>
		        </a>
		      </section>
                <div id="login" class="login">
                    <h2 class="cover-heading">Добро пожаловать</h2>
                    <div class="text-center" >
                        <ul class="nav nav-tabs text-center rounded-top" id="myTab" role="tablist" >
                            <li class="nav-item" style="flex: 1">
                                <a class="nav-link " id="log-tab" data-toggle="tab" href="#log" role="tab" aria-controls="log" aria-selected="true">Login</a>
                            </li>
                            <li class="nav-item" style="flex: 1">
                                <a class="nav-link active " id="reg-tab" data-toggle="tab" href="#reg" role="tab" aria-controls="reg" aria-selected="false">Registration</a>
                            </li>
                        </ul>
                    </div>
                    <p class="lead">
                    <div class="tab-content " id="myTabContent">
                        <div class="tab-pane fade show active mt-5" id="reg" role="tabpanel" aria-labelledby="reg-tab">
                            <form id="sign_up_form">
                                {% csrf_token %}
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        {{ sign_up_form.username|bootstrap }}
                                    </div>
                                    <div class="form-group col-md-6">
                                        {{ sign_up_form.email|bootstrap }}
                                    </div>
                                    <div class="form-group col-md-6">
                                        {{ sign_up_form.name|bootstrap }}
                                    </div>
                                    <div class="form-group col-md-6">
                                        {{ sign_up_form.surname|bootstrap }}
                                    </div>
                                    <div class="form-group col-md-6">
                                        {{ sign_up_form.password1|bootstrap }}
                                    </div>
                                    <div class="form-group col-md-6">
                                        {{ sign_up_form.password2|bootstrap }}
                                    </div>
                                </div>
                                <div class="form-check" style="margin-bottom: 20px;">
                                    <input type="checkbox" class="form-check-input">
                                    <label class="form-check-label">Я принимаю условия Пользовательского соглашения и Политики конфиденциальности</label>
                                </div>
                                <a class="btn btn-success btn-block" id="sign_up_btn" onclick="sign_up_ajax()" style="text-shadow: 0 0.01rem 0.1rem">Зарегистрироваться</a>
                            </form>
                        </div>
                        <div class="tab-pane fade mt-5" id="log" role="tabpanel" aria-labelledby="log-tab">
                            <form id="sign_in_form">
                                {% csrf_token %}
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        {{ sign_in_form.username|bootstrap }}
                                    </div>
                                    <div class="form-group col-md-6">
                                        {{ sign_in_form.password|bootstrap }}
                                    </div>
                                </div>
                                <a class="btn btn-primary btn-block" id="sign_in_btn" onclick="sign_in_ajax()" style="text-shadow: 0 0.01rem 0.1rem">Войти</a>
                            </form>
                        </div>
                    </div>
                </div>
              </section>
            </main>
            <footer class="mastfoot mt-auto">
                <div class="inner">
                    <p>MPS51 Team</p>
                </div>
            </footer>
        </div>
    </div>
{% endblock %}