{% extends "main/base.html" %}

{% block content %}
    <h1>{{ header }}</h1>
    <p>Welcome to the index page</p>
    {% if user.is_authenticated %}
        <a href="sign_out">Sign out</a>
    {% else %}
        {% if just_signed_up %}
            <h2>You have successfully signed up! Check your email to confirm it!</h2>
        {% else %}
            <form id="sign_in_form">
                {% csrf_token %}
                {{ sign_in_form.as_p }}
            </form>
            <input type="submit" value="Sign in" onclick="sign_in_ajax()">
            <a href="/sign_up">Sign up</a>
            <script>
                function sign_in_ajax()
                {
                    result = "";
                    $.ajax({
                        type: "POST",
                        url: '/sign_in/',
                        data: $('#sign_in_form').serialize(),
                        success: function(response)
                        {
                            alert(response['result']);
                            if (response['result'] == "Success")
                            {
                                window.location.href = '/';
                            }
                        }
                    });
                };
            </script>
        {% endif %}
    {% endif %}
{% endblock %}