{% extends "main/base.html" %}

{% block meta %}
    {% load staticfiles %}
    <link rel="stylesheet" href='{% static "css/bootstrap.min.css" %}'>
    <link rel="stylesheet" href='{% static "css/general.css" %}'>
	<link rel="stylesheet" href='{% static "css/base.css" %}'>
    <link rel="stylesheet" href='{% static "css/profile.css" %}'>
    <script>
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                function getCookie(name) {
                     var cookieValue = null;
                     if (document.cookie && document.cookie != '') {
                         var cookies = document.cookie.split(';');
                         for (var i = 0; i < cookies.length; i++) {
                             var cookie = jQuery.trim(cookies[i]);
                             if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                 cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                 break;
                             }
                         }
                     }
                return cookieValue;
                }
                if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                 xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                }
            }
        });
    </script>
{% endblock %}

{% block content %}
	<section class="profile">
		<div class="card text-center">
			<div class="card-header">
				<h1> Личный кабинет </h1>
			</div>
			<div class="card-body">
				<picture>
					<img src='{% static "/img/avatar_user.png" %}' class="avatar">
				</picture>
				<div class="data">
					<span>Ник</span>
					<h2 class="card-title" id="username">{{ user.username }}</h2>
				</div>
				<div class="data" style="margin-top: 25px;">
					<span>Имя</span>
					<h2 class="card-title" id="name">{{ user.first_name }}</h2>
				</div>
				<div class="data">
					<span>Фамилия</span>
					<h2 class="card-title" id="last_name">{{ user.last_name }}</h2>
				</div>
				<div class="data">
					<span>Email</span>
					<h2 class="card-title" id="email">{{ user.email }}</h2>
				</div>
			</div>
			<div class="card-footer">
				<button type="button" class="btn btn-lg btn-secondary" onclick="get_user_data()" data-toggle="modal" data-target="#Edit">
					<picture><img src='{% static "/icons/edit_icon.png" %}' class="icon"></picture>
				</button>
				<button type="button" class="btn btn-lg btn-secondary" data-toggle="modal" data-target="#Settings">
					<picture><img src='{% static "/icons/settings_icon.png" %}' class="icon"></picture>
				</button>
			</div>
		</div>
	</section>
	<section>
		<div class="modal fade" id="Edit">
			<div class="modal-dialog modal-lg modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h2 class="modal-title">Редактировать профиль</h2>
					</div>
					<div class="modal-body">
						<div class="form-group btn btn-secondary change-avatar">
							<label>Изменить аватар</label>
							<input type="file" class="form-control-file">
						</div>
						<form>
							<div class="form-row">
								<div class="form-group col-md-6">
									<label for="inputEmail4">Имя</label>
									{{ change_user_data_form.name }}
								</div>
								<div class="form-group col-md-6">
									<label for="inputPassword4">Фамилия</label>
									{{ change_user_data_form.surname }}
								</div>
							</div>
							<hr>
							<div class="form-group">
								<label for="inputEmail4">Email</label>
								{{ change_user_data_form.email }}
							</div>
							<div class="form-group">
								<label for="inputPassword4">Старый пароль</label>
								{{ change_user_data_form.old_password }}
							</div>
							<div class="form-group">
								<label for="inputPassword4"> Новый пароль</label>
								{{ change_user_data_form.password1 }}
							</div>
							<div class="form-group">
								<label for="inputPassword4">Новый пароль повторить</label>
								{{ change_user_data_form.password2 }}
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-dismiss="modal">Отменить</button>
						<button type="submit" class="btn btn-secondary" onclick="">Сохранить</button>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="Settings">
			<div class="modal-dialog modal-lg modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h2 class="modal-title">Настройки</h2>
					</div>
					<div class="modal-body">
						<span> Выберите тембр голоса Морриса:</span>
						<div class="btn-group btn-group-lg" style="margin-left: 50px;">
							<button type="button" class="btn btn-secondary">Низкий</button>
							<button type="button" class="btn btn-secondary active">Средний</button>
							<button type="button" class="btn btn-secondary">Высокий</button>
						</div>
						<hr/>
						<span>Выберите язык:</span>
						<div class="btn-group btn-group-lg" style="margin-left: 185px;">
							<button type="button" class="btn btn-secondary active">Русский</button>
							<button type="button" class="btn btn-secondary">Английский</button>
							<button type="button" class="btn btn-secondary" disabled>Немецкий</button>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-dismiss="modal">Отменить</button>
						<button type="submit" class="btn btn-secondary">Сохранить</button>
					</div>
				</div>
			</div>
		</div>
	</section>
	<script>
		function get_user_data()
		{
			$('#id_name').val('{{ user.first_name }}');
			$('#id_email').val('{{ user.email }}');
			$('#id_surname').val('{{ user.last_name }}');
		};


	</script>

{% endblock %}
