<!DOCTYPE>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<link rel="stylesheet" href="css/push_email.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<title> Notification </title>
		</head>
		<style>
		
  </style>
	<body >
		<div>
			<h1 class="text-center">EVA</h1>
			<div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
				<p class="main">Напоминаю, что в   <span class="badge badge-light"><font size="4">15:00</font></span></p>
					<div class="data"><span class="badge badge-light"><font size="4">28 февр 2018</font></span></div>
				<p class="main">пройдет мероприятие <span class="badge badge-light"><font size="4">English class</font></span> .</p>
				<button type="button" class="btn btn-outline-light">Подробней</button>
			</div>
			<p class="bottom"><font size="2" color="#999999">Вы получили данное письмо, так как подписались на рассылку на сайте eva.com Вы можете отписаться от рассылки в любое время.</p>
		</div>
	</body>
</html>
