{% extends "main/base.html" %}

{% block meta %}
    {% load staticfiles %}
    <link rel="stylesheet" href='{% static "css/bootstrap.min.css" %}'>
    <link rel="stylesheet" href='{% static "css/general.css" %}'>
	<link rel="stylesheet" href='{% static "css/base.css" %}'>
    <script charset='utf-8' type="text/javascript" src='{% static "js/setup_ajax.js" %}'></script>
{% endblock %}

{% block content %}
    <h2>
        Recover password
    </h2>
    <form id="recover_form">
        {% load bootstrap %}
        <h3>Enter new password</h3>
        {{ recover_form.password1 | bootstrap }}
        <h3>Enter new password again</h3>
        {{ recover_form.password2 | bootstrap }}
    </form>
    <button onclick="recover_password_ajax('{{ key }}');">OK</button>
    <script>
        function recover_password_ajax(key)
		{
		    form_data = $('#recover_form').serialize();
			$.ajax({
				type: "POST",
				url: '/profile/recover_password_ajax/' + key,
				data: form_data,
				success: function(response)
				{
				    if (response['result'] == "Success")
				    {
					    location.href = "/"
				    }
				    else
				    {
				        alert(response['result']);
				    }
				}
			});
        };
    </script>
{% endblock %}
