{% extends "main/base.html" %}

{% block content %}
    <h1>{{ header }}</h1>
    <p>Welcome to the sign up page</p>
    <form id="sign_up_form">
        {% csrf_token %}
        {{ sign_up_form.as_p }}
    </form>
    <input type="submit" value="Sign up" onclick="sign_up_ajax()">
    <script>
        function sign_up_ajax()
            {
                result = "";
                $.ajax({
                    type: "POST",
                    url: '/sign_up/',
                    data: $('#sign_up_form').serialize(),
                    success: function(response)
                    {
                        alert(response['result']);
                        if (response['result'] == "Success")
                        {
                            window.location.href = '/';
                        }
                    }
                });
            };
    </script>
{% endblock %}