body {
  color: #5a5a5a;
  background-color: #f1f1f1;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.link-section {
  text-decoration: none;
  color: #fff;
}

.link-section:hover {
  text-decoration: none;
  color: #fff;
}

.carousel {
  margin-bottom: 4rem;
}

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

.carousel-item {
  height: 32rem;
  background-color: #777;
}

.carousel-item>img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

.card {
  width: 350px;
  margin-top: 30px;
}

.add-new {
  float: right;
  width: 50px;
  height: 50px;
  font-size: 23pt;
  color: #fff;
  transition: 0.2s;
}

.add-new:hover {
  border-radius: 100%;
  transition: 0.2s;
  color: #fff;
}

.plus {
  color: #fff;
}

.container .col-lg-4 {
  margin-bottom: 1.5rem;
}

.container h2 {
  font-weight: 400;
}

.container .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

.section {
  height: 325px;
  width: 350px;
  font-size: 25pt;
  color: #fff;
  transition: 0.2s;
  text-align: center;
  padding-top: 125px;
}

.section:hover {
  height: 350px;
  color: #fff;
  transition: 0.2s;
}

.featurette-divider {
  margin: 5rem 0;
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

@media (min-width: 40em) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

.first-slide {
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.like {
  float: right;
}

.comment {
  margin-top: 15px;
  color: #fff;
}

.date-of-comments {
  float: left;
  font-size: 10pt;
}