body {
  background-color: #eee;
}

.profile {
  padding: 5% 20%;
}

.icon {
  width: 25px;
  height: 25px;
  text-align: center;
}

.avatar {
  width: 96px;
  height: 96px;
  border: 1px solid gray;
  border-radius: 50% 50% 0 0;
}

.change-avatar {
  text-align: center;
  margin: auto;
  margin-right: 10px;
  float: left;
}

.modal-header {
  background-color: #eee;
}

.modal-footer {
  background-color: #eee;
}