<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin page</title>
</head>
<body>
    <h1>Welcome to admin page</h1>
    <div>
        <form action="admin">
        {{cform.inputfld}}
        <br>
        {{cform.checkbox}}
        <br>
        {{cform.key.as_hidden}}

        </form>

    </div>
    <div>
        <form action="admin">
            {{ucform.logfld}}
            <br>
            {{ucform.passfld}}
            <br>
            {{ucform.langfld}}
            <br>
            {{ucform.key.as_hidden}}
        </form>
    </div>
</body>
</html>