<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin page</title>
</head>
<body>
    <h1>Welcome to admin page</h1>
    <div>
        <form action="" method="POST">
            {% csrf_token %}
            {{cform.inputfld}}
            <br>
            {{cform.choicebox}}
            <br>
            {{cform.key.as_hidden}}
            <br>
            <input type="submit">
        </form>
    </div>
    <br>
    <br>
    <div>
        <form action="" method="POST">
            {% csrf_token %}
            {{ucform.logfld}}
            <br>
            {{ucform.passfld}}
            <br>
            {{ucform.langfld}}
            <br>
            {{ucform.key.as_hidden}}
            <br>
            <input type="submit">
        </form>
    </div>
</body>
</html>