{% load staticfiles %}
<div class="modal fade" id="Edit-Date">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Редактирование мероприятия</h2>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <h3>Изменить название</h3>
                        <input type="name" class="form-control" placeholder="Мероприятиеюшка">
                    </div>
                    <div class="form-group">
                        <span>{{ add_event_form.date }}</span>
                        <span>{{ add_event_form.time }}</span>
                    </div>
                    <div class="form-group">
                        <h3>Изменить описание</h3>
                        <textarea class="form-control" rows="7"></textarea>

                        <div class="btn-group btn-group-sm WYSIWYG">
                            <button type="button" class="btn btn-light"><strong>B</strong></button>
                            <button type="button" class="btn btn-light"><em>I</em></button>
                            <button type="button" class="btn btn-light">
                                <del>S</del>
                            </button>
                            <button type="button" class="btn btn-light">
                                <ins>U</ins>
                            </button>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-check btn btn-light">
                            <input class="form-check-input" type="checkbox">
                            <label class="form-check-label"> Приватное мероприятие</label>
                        </div>
                    </div>
                </form>
                <h3>Записать аудио</h3>
                <button type="button" class="btn btn-light btn-lg btn-block">
                    <picture>
                        <img src='{% static "icons/micro_icon.png" %}'>
                    </picture>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Отменить</button>
                <button type="button" class="btn btn-light">Сохранить</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="For-Today">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">События на сегодня</h2>
            </div>
            <div class="modal-body">
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-light"
                       data-toggle="modal" data-target="#Event">Событие, что очень важно мне
                        <small>28.02.2018</small>
                    </a>
                    <a href="#" class="list-group-item list-group-item-light"
                       data-toggle="modal" data-target="#Event">Просто событие
                        <small>27.02.2018</small>
                        <small>Москва</small>
                    </a>
                    <a href="#" class="list-group-item list-group-item-light"
                       data-toggle="modal" data-target="#Event">День рождения
                        <small>23.10.2018</small>
                        <small>Королев</small>
                    </a>
                    <a href="#" class="list-group-item list-group-item-light"
                       data-toggle="modal" data-target="#Event">Событие, что напоминает мне о тех деньках
                        <small>28.02.2018</small>
                        <small>Мытищи</small>
                    </a>
                </div>
                <nav class=" navbar navbar-pag">
                    <div class="btn-group btn-group-lg">
                        <a href="#">
                            <button type="button" class="btn btn-light">&laquo;</button>
                        </a>
                        <a href="#">
                            <button type="button" class="btn btn-light disabled">1</button>
                        </a>
                        <a href="#">
                            <button type="button" class="btn btn-light">2</button>
                        </a>
                        <a href="#">
                            <button type="button" class="btn btn-light">3</button>
                        </a>
                        <a href="#">
                            <button type="button" class="btn btn-light">&raquo;</button>
                        </a>
                    </div>
                </nav>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Отменить</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="In-Map">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">События на карте</h2>
            </div>
            <div class="modal-body">
                <!-- Тут нужен JS -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Отменить</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="My">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Мои события</h2>
            </div>
            <div class="modal-body">
                <div class="btn-group btn-group-lg">
                    <button type="button" class="btn btn-light">Сначала новые</button>
                    <button type="button" class="btn btn-light">Сначала старые</button>
                    <button type="button" class="btn btn-light">А..Я</button>
                    <button type="button" class="btn btn-light">Я..А</button>
                </div>
                <br/>

                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-light"
                       data-toggle="modal" data-target="#Event">Событие, что очень важно мне
                        <small>28.02.2018</small>
                    </a>
                    <a href="#" class="list-group-item list-group-item-light"
                       data-toggle="modal" data-target="#Event">Просто событие
                        <small>27.02.2018</small>
                        <small>Москва</small>
                    </a>
                    <a href="#" class="list-group-item list-group-item-light"
                       data-toggle="modal" data-target="#Event">День рождения
                        <small>23.10.2018</small>
                        <small>Королев</small>
                    </a>
                    <a href="#" class="list-group-item list-group-item-light"
                       data-toggle="modal" data-target="#Event">Событие, что напоминает мне о тех деньках
                        <small>28.02.2018</small>
                        <small>Мытищи</small>
                    </a>
                </div>
                <nav class=" navbar navbar-pag">
                    <div class="btn-group btn-group-lg">
                        <a href="#">
                            <button type="button" class="btn btn-light">&laquo;</button>
                        </a>
                        <a href="#">
                            <button type="button" class="btn btn-light disabled">1</button>
                        </a>
                        <a href="#">
                            <button type="button" class="btn btn-light">2</button>
                        </a>
                        <a href="#">
                            <button type="button" class="btn btn-light">3</button>
                        </a>
                        <a href="#">
                            <button type="button" class="btn btn-light">&raquo;</button>
                        </a>
                    </div>
                </nav>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Отменить</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="All">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Все события</h2>
            </div>
            <div class="modal-body">
                <div class="btn-group btn-group-lg">
                    <button type="button" class="btn btn-light">Сначала новые</button>
                    <button type="button" class="btn btn-light">Сначала старые</button>
                    <button type="button" class="btn btn-light">А..Я</button>
                    <button type="button" class="btn btn-light">Я..А</button>
                </div>
                <br/>

                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-light"
                       data-toggle="modal" data-target="#Event">Where is my mind?
                        <small>29.02.2018</small>
                        <small>Москва</small>
                    </a>
                    <a href="#" class="list-group-item list-group-item-light"
                       data-toggle="modal" data-target="#Event">Sad but True
                        <small>13.02.2018</small>
                    </a>
                    <a href="#" class="list-group-item list-group-item-light"
                       data-toggle="modal" data-target="#Event">Karma Police
                        <small>14.02.2018</small>
                    </a>
                    <a href="#" class="list-group-item list-group-item-light"
                       data-toggle="modal" data-target="#Event">Starway to Heaven
                        <small>27.02.2018</small>
                        <small>Королев</small>
                    </a>
                    <a href="#" class="list-group-item list-group-item-light"
                       data-toggle="modal" data-target="#Event">Californication
                        <small>27.02.2018</small>
                        <small>Мытищи</small>
                    </a>
                    <a href="#" class="list-group-item list-group-item-light"
                       data-toggle="modal" data-target="#Event">Personal Jesus
                        <small>18.02.2018</small>
                    </a>
                    <a href="#" class="list-group-item list-group-item-light"
                       data-toggle="modal" data-target="#Event">День рождения
                        <small>23.10.2018</small>
                        <small>Королев</small>
                    </a>
                    <a href="#" class="list-group-item list-group-item-light"
                       data-toggle="modal" data-target="#Event">Let It Be
                        <small>22.02.2018</small>
                    </a>
                </div>
                <nav class=" navbar navbar-pag">
                    <div class="btn-group btn-group-lg">
                        <a href="#">
                            <button type="button" class="btn btn-light">&laquo;</button>
                        </a>
                        <a href="#">
                            <button type="button" class="btn btn-light disabled">1</button>
                        </a>
                        <a href="#">
                            <button type="button" class="btn btn-light">2</button>
                        </a>
                        <a href="#">
                            <button type="button" class="btn btn-light">3</button>
                        </a>
                        <a href="#">
                            <button type="button" class="btn btn-light">&raquo;</button>
                        </a>
                    </div>
                </nav>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Отменить</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Recommend">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title " >Рекомендованные события</h2>
            </div>

            <div class="modal-body" align="center">

                <div class="card text-white bg-dark " style="max-width: ;">
                    <div class="card-header text-warning ">  <h3> <p align="center"> Star wars  </p> </h3> </div>
                  <div class="card-body">
                    <h5 class="card-title">Последние новости.</h5>

                    <p class="card-text">Некоторое время назад мы узнали, что для съёмок в Эпизоде IX «Звёздных Войн»
                        потребовалась женщина 40–50 лет. Пока
                        фанаты гадали, будет ли это означать появление в новой трилогии Мары Джейд,— Эпизоду IX потребовалась ещё одна новая героиня.</p>

                    <p class="text-warning">Подробнее...</p>

                    <p class="card-text"><small class="text-muted">26.02.2018  Мытищи.</small></p>
                  </div>

                </div>



                 <div class="card bg-light " style="max-width: ;">
                    <div class="card-header text-success ">  <h3> <p align="center"> Открытие фонтанов  </p> </h3> </div>
                  <div class="card-body">
                    <h5 class="card-title">Что ждет гостей на празднике фонтанов в Петергофе?</h5>

                    <p class="card-text">выступление военного оркестра в форме времен правления Екатерины II;
уникальная шоу-программа "Дворцовая сага";
праздничное оформление парка;</p>

                    <p class="text-success">Подробнее...</p>

                    <small class="text-muted">13.05.2018  Мытищи.</small>
                  </div>

                </div>





                <div class="card text-white bg-dark mb-3" style="max-width: ;">
                  <div class="card-header text-danger ">  <h3> <p align="center"> «Лес Победы»‍  </p> </h3>       </div>
                  <div class="card-body">
                    <h5 class="card-title">В Подмосковье прошла акция «Лес Победы»</h5>
                    <p class="card-text">Акция "Лес Победы" прошла в Подмосковье, в 67 муниципалитетах региона высадили
                        более 1,5 миллиона деревьев, сообщает пресс-служба губернатора и
                        правительства Московской области.</p>

                    <p class="text-danger">Подробнее...</p>

                    <small class="text-muted">12.05.2018  Мытищи.</small>
                  </div>
                </div>




            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Отменить</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Watch-in-Map">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Карта</h2>
            </div>
            <div class="modal-body">
                <!-- Тут нужен JS -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">ОК</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Synchronization">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Синхронизация</h2>
            </div>
            <div class="modal-body">
                <button type="button" class="btn btn-light">Сохранить все события в файл</button>
                <button type="button" class="btn btn-light" data-toggle="modal"
                        data-target="#Choose-Synchronization">Сохранить часть событий в файл
                </button>
                <hr>
                <div class="form-group btn btn-light">
                    <label>Загрузить все события из файла</label>
                    <input type="file" class="form-control-file">
                </div>
                <div class="form-group btn btn-light">
                    <label>Загрузить некоторые события из файла</label>
                    <input type="file" class="form-control-file">
                </div>
                <button type="button" class="btn btn-light">Синхронизировать</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Отмена</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Choose-Synchronization">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Выберите события для сохранения</h2>
            </div>
            <div class="modal-body">
                <div class="list-group" style="margin-top: 10px;">
                    <div class="form-check list-group-item list-group-item-light">
                        <input class="form-check-input" type="checkbox">
                        <label class="form-check-label"> Sad but True </label>
                    </div>
                    <div class="form-check list-group-item list-group-item-light">
                        <input class="form-check-input" type="checkbox">
                        <label class="form-check-label"> True but Sad </label>
                    </div>
                    <div class="form-check list-group-item list-group-item-light">
                        <input class="form-check-input" type="checkbox">
                        <label class="form-check-label"> but Sad True </label>
                    </div>
                    <div class="form-check list-group-item list-group-item-light">
                        <input class="form-check-input" type="checkbox">
                        <label class="form-check-label"> but True Sad</label>
                    </div>
                    <div class="form-check list-group-item list-group-item-light">
                        <input class="form-check-input" type="checkbox">
                        <label class="form-check-label"> Sad True but </label>
                    </div>
                    <div class="form-check list-group-item list-group-item-light">
                        <input class="form-check-input" type="checkbox">
                        <label class="form-check-label"> True Sad but</label>
                    </div>
                </div>
                <nav class=" navbar navbar-pag">
                    <div class="btn-group btn-group-lg">
                        <a href="#">
                            <button type="button" class="btn btn-light">&laquo;</button>
                        </a>
                        <a href="#">
                            <button type="button" class="btn btn-light disabled">1</button>
                        </a>
                        <a href="#">
                            <button type="button" class="btn btn-light">2</button>
                        </a>
                        <a href="#">
                            <button type="button" class="btn btn-light">3</button>
                        </a>
                        <a href="#">
                            <button type="button" class="btn btn-light">&raquo;</button>
                        </a>
                    </div>
                </nav>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-light">ОК</button>
            </div>
        </div>
    </div>
</div>
