{% load staticfiles %}
<div class="modal fade" id="New-Date">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Создание мероприятия</h2>
            </div>
            <div class="modal-body">
                <form id="add_event_form">
                    {% csrf_token %}
                    {{ add_event_form.media }}
                    <div class="form-group">
                      <h3>Название</h3>
                      {{ add_event_form.title }}
                    </div>
                    <div class="form-group">
                      <button type="button" class="btn btn-light" data-toggle="modal" data-target="#Choose-Date">
                      Выбрать дату
                      </button>
                      <button type="button" class="btn btn-light" data-toggle="modal" data-target="#Choose-Time">
                      Выбрать время
                      </button>
                      <button type="button" class="btn btn-light" data-toggle="modal" data-target="#Choose-Place">
                      Выбрать место
                      </button>
                      <span><small>Место и время по желанию</small></span>
                    </div>
                    <div id="placemark"></div>
                    <div class="form-group">
                      <h3>Описание</h3>
                      {{ add_event_form.description }}
                    </div>
                    <div class="form-group">
                      <div class="form-check btn btn-light">
                        {{ add_event_form.is_public }}
                        <label class="form-check-label"> Приватное мероприятие</label>
                      </div>
                    </div>
                </form>
                <h3>Записать аудио</h3>
                <button type="button" class="btn btn-light btn-lg btn-block">
                    <picture>
                        <img src='{% static "icons/micro_icon.png" %}'>
                    </picture>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal" id="close_calendar_btn">Отменить</button>
                <button type="button" class="btn btn-light" onclick="add_event_ajax()">Создать</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Event-Card">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div id="event_num" hidden>0</div>
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="event_title_show"></h2>
            </div>
            <div class="modal-body">
                <h3 id="event_date_show">23.10.2018</h3>
                <hr/>
                <h3>Весь день</h3>
                <hr/>
                <h3>г.Мытищи, МО, Россия</h3>
                <button type="button" class="btn btn-light btn-sm" data-toggle="modal" data-target="#Watch-in-Map">Посмотреть на карте</button>
                <hr/>
                <h4 id="event_description_show"></h4>
                <hr/>
                <div class="form-group">
                    <div class="like">
                        <button type="button" class="btn btn-light btn-sm">:) <span>12</span></button>
                        <button type="button" class="btn btn-light btn-sm">:( <span>2</span></button>
                    </div>
                    <textarea class="form-control" rows="3" cols="3" placeholder="Комментарий"></textarea>
                    <div class="btn-group btn-group-sm WYSIWYG">
                        <button type="button" class="btn btn-light"><strong>B</strong></button>
                        <button type="button" class="btn btn-light"><em>I</em></button>
                        <button type="button" class="btn btn-light"><del>S</del></button>
                        <button type="button" class="btn btn-light"><ins>U</ins></button>
                    </div>
                    <button type="button" class="btn btn-light" style="margin-top: 5px;">Отправить</button>
                    <button class="btn btn-light" style="margin-top: 5px;" type="button" data-toggle="collapse" data-target="#collapseExample">
                        Посмотреть комментарии
                    </button>
                    <div class="collapse" id="collapseExample">
                        <div class="card bg-light comment">
                            <div class="card-header">
                                <picture><img src='{% static "img/avatar.png" %}'></picture>
                                <h5>John Doe</h5>
                                <span class="date-of-comments">28.02.2018</span>
                            </div>
                            <div class="card-body">
                                <p class="card-text">I think, it will be so <i>cool</i>.</p>
                            </div>
                        </div>
                        <div class="card bg-light comment">
                            <div class="card-header">
                                <picture><img src='{% static "img/avatar.png" %}'></picture>
                                <h5>Alice</h5>
                                <span class="date-of-comments">27.02.2018</span>
                            </div>
                            <div class="card-body">
                                <p class="card-text">Yep-yep, I thinking about it too.</p>
                            </div>
                        </div>
                        <div class="card bg-light comment">
                            <div class="card-header">
                                <picture><img src='{% static "img/avatar.png" %}'></picture>
                                <h5>Bob</h5>
                                <span class="date-of-comments">26.02.2018</span>
                            </div>
                            <div class="card-body">
                                <p class="card-text">I hope.</p>
                            </div>
                        </div>
                        <nav class=" navbar navbar-pag">
                            <div class="btn-group btn-group-sm">
                                <a href="#"><button type="button" class="btn btn-light">&laquo;</button></a>
                                <a href="#"><button type="button" class="btn btn-light disabled">1</button></a>
                                <a href="#"><button type="button" class="btn btn-light">2</button></a>
                                <a href="#"><button type="button" class="btn btn-light">3</button></a>
                                <a href="#"><button type="button" class="btn btn-light">&raquo;</button></a>
                            </div>
                        </nav>
                        <button type="button" class="btn btn-light" data-toggle="collapse" data-target="#collapseExample">Закрыть</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal" onclick="delete_event_ajax()">Удалить</button>
                <button type="button" class="btn btn-light" data-dismiss="modal">ОК</button>
            </div>
        </div>
    </div>
</div>
