{% load staticfiles %}
<div class="modal fade" id="Choose-Place">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Выбор места</h2>
            </div>
            <div class="modal-body">
                <form>
                    <div id="map" style="width: 450px; height: 350px;"></div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Отменить</button>
                <button type="button" class="btn btn-light" data-dismiss="modal">ОК</button>
            </div>
        </div>
    </div>
</div>
