{% load staticfiles %}
<div class="modal fade" id="New-Todo">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Создание напоминания</h2>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <h3>Название</h3>
                        <input type="name" class="form-control" placeholder="Напоминалочка">
                    </div>
                    <div class="form-group">
                        <h3>Текст</h3>
                        <textarea class="form-control" rows="7" placeholder="Текст"></textarea>
                        <div class="btn-group btn-group-sm WYSIWYG">
                            <button type="button" class="btn btn-light"><strong>B</strong></button>
                            <button type="button" class="btn btn-light"><em>I</em></button>
                            <button type="button" class="btn btn-light"><del>S</del></button>
                            <button type="button" class="btn btn-light"><ins>U</ins></button>
                        </div>
                    </div>
                    <div class="form-group">
                        <h3> Приоритет </h3>
                        <button type="button" class="btn btn-light btn-sm">1</button>
                        <button type="button" class="btn btn-light btn-sm">2</button>
                        <button type="button" class="btn btn-light btn-sm">3</button>
                        <button type="button" class="btn btn-light btn-sm">4</button>
                        <button type="button" class="btn btn-light btn-sm">5</button>
                    </div>
                </form>
                <h3>Записать аудио</h3>
                <button type="button" class="btn btn-light btn-lg btn-block">
                    <picture>
                        <img src='{% static "icons/micro_icon.png" %}'>
                    </picture>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Отменить</button>
                <button type="button" class="btn btn-light">Создать</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Open-Todo">
    <div class="modal-dialog modal modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Доделать проект</h2>
            </div>
            <div class="modal-body">
                <p> Да уж, надо бы</p>
                <small>28.02.2018 | 18:14 </small>
                <hr>
                <div class="form-group">
                    <h3> Приоритет </h3>
                    <span class="badge badge-pill priority">!</span>
                    <span class="badge badge-pill priority">!</span>
                    <span class="badge badge-pill priority">!</span>
                </div>
                <hr>
                <h3> Cтатус </h3>
                <p> Не выполнено </p>
                <button type="button" class="btn btn-light">&#10003;</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Удалить</button>
                <button type="button" class="btn btn-light" data-dismiss="modal">ОК</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Open-Todo-2">
    <div class="modal-dialog modal modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Доделать проект</h2>
            </div>
            <div class="modal-body">
                <p> Да уж, надо бы</p>
                <small>28.02.2018 | 18:14 </small>
                <hr>
                <div class="form-group">
                    <h3> Приоритет </h3>
                    <span class="badge badge-pill priority">!</span>
                    <span class="badge badge-pill priority">!</span>
                    <span class="badge badge-pill priority">!</span>
                </div>
                <hr>
                <h3> Cтатус </h3>
                <p> Выполнено </p>
                <button type="button" class="btn btn-light">&#10007;</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Удалить</button>
                <button type="button" class="btn btn-light" data-dismiss="modal">ОК</button>
            </div>
        </div>
    </div>
</div>