.todo {
  background-color: #99f;
  padding-bottom: 50px;
}

.mast {
  padding-top: 6em;
  padding-bottom: 6em;
  background-color: #ccf;
  text-align: center;
}


.card {
  background-color: #66f;
  cursor: pointer;
  transition: 0.2s;
  margin: 10px;
  margin-bottom: 40px;
  color: #fff;
}

.card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: 0.2s;
}

.last {
  border: 5px #99f dotted;
  text-align: center;
  background-color: #66f;
  font-size: 25pt;
}

.disabled a {
  color: #fff;
}

.navbar a {
  color: #fff;
}

.modal-header {
  background-color: #66f;
  border-bottom: 0px;
}

.modal-body {
  background-color: #99f;
}

.modal-footer {
  background-color: #66f;
  border-top: 0px;
}

.modal {
  color: #fff;
}

.date {
  font-size: 8pt;
  float: right;
}

.priorities {
  float: right;
}

.priority {
  border-radius: 50%;
  background-color: #9cf;
  font-size: 12pt;
  color: #66f;
}

.priority-list {
  border-radius: 50%;
  background-color: #9cf;
  font-size: 12pt;
  color: #66f;
  text-align: center;
}

.priority-list-last {
  border-radius: 50%;
  background-color: #9cf;
  font-size: 12pt;
  color: #66f;
  margin-right: 50px;
  text-align: center;
}