{% extends "main/base.html" %}
{% block meta %}
{% load staticfiles %}
<link rel="stylesheet" href='{% static "css/bootstrap.min.css" %}'>
<link rel="stylesheet" href='{% static "css/general.css" %}'>
<link rel="stylesheet" href='{% static "css/base.css" %}'>
<link rel="stylesheet" href='{% static "css/todolist.css" %}'>
<script language="JavaScript" src='{% static "js/setup_ajax.js" %}'></script>
<script charset="utf-8" language="JavaScript" src='{% static "js/todo/scripts.js" %}'></script>
{% endblock %}
{% block content %}
<article class="todo">
    <section class="mast">
        <h1>Задачи</h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-2">
                <div class="card mb-3 ml-3 noanimation">
                    <div class="card-header">
                        <div class="btn-group btn-group-lg">
                            <button type="button" class="btn btn-primary" onclick="ShowCard()">
                                <picture>
                                    <img src='{% static "/icons/card_icon_todo.png" %}' class="icon">
                                </picture>
                            </button>
                            <button type="button" class="btn btn-primary" onclick="ShowList()">
                                <picture>
                                    <img src='{% static "/icons/list_icon_todo.png" %}' class="icon">
                                </picture>
                            </button>
                            <button type="button" class="btn btn-lg btn-light" data-toggle="modal"
                                    onclick="clean_add_todo_fields()" data-target="#New-Todo">+
                            </button>
                        </div>
                    </div>
                    <div class="dropdown btn-lg">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Сортировка
                        </button>
                        <div class="dropdown-menu">
                            <button type="button" class="dropdown-item" onclick="sort_todo_ajax('new')">Сначала новые</button>
                            <button type="button" class="dropdown-item" onclick="sort_todo_ajax('old')">Сначала старые</button>
                            <button type="button" class="dropdown-item" onclick="sort_todo_ajax('AtoZ')">А..Я</button>
                            <button type="button" class="dropdown-item" onclick="sort_todo_ajax('ZtoA')">Я..А</button>
                            <button type="button" class="dropdown-item" onclick="sort_todo_ajax('deadline')">Горящие задачи</button>
                        </div>
                    </div>
                    <!--                          <button type="button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#Synchronization">
                                                <picture>
                                                    <img src='{% static "/icons/sync_icon_todo.png" %}' class="icon">
                                                </picture>
                                            </button>  -->
                    <div class="card-footer">
                        <div id="amounts" class="alert alert-primary">
                            <a>Всего задач:</a>
                            <a>{{ amount_of_todos.0 }}</a>
                            <br/>
                            <a>Активных:</a>
                            <a>{{ amount_of_todos.1 }}</a>
                            <br/>
                            <a>Завершенных:</a>
                            <a>{{ amount_of_todos.2 }}</a>
                            <br/>
                        </div>
                    </div>
                </div>
                <nav class="navbar">
                    <div class="btn-group btn-group-lg" id="paginate_btn_holder">
						<a><button id="PrevPage_Progress" type="button" class="btn btn-warning">&laquo;</button></a>
						<div style="overflow-y: scroll; width: 150px; height: 100px">
							{% for number in todo_pages %}
								<a><button id="paginate_btn_{{ number }}" type="button" class="btn btn-warning" onclick="paginate({{ number }}, 'in progress')">{{ number }}</button></a>
							{% endfor %}
						</div>
						<a><button id="NextPage_Progress" type="button" class="btn btn-warning">&raquo;</button></a>
					</div>
                </nav>
            </div>
            <section class="list-view col">
                <div class="list-group" id="ViewList">
                    {% for item in todo_data %}
                        <div id="todo_{{item.2}}" onclick="get_todo_data_ajax('{{item.2}}');">
                            <a href="#" class="list-group-item list-group-item-primary" data-toggle="modal" data-target="#Open-Todo">
                                <button type="button" class="btn btn-primary" onclick="status_change({{ item.2 }}, 'done')">
                                    &#10003;</button>
                                <h7 id="todo_title_{{item.2}}">{{ item.0 }}</h7>
                                <div class="priorities">
                                    <div class="priorities" id="list_priorities_{{ item.2}}"></div>
                                    <script>get_priorities({{ item.3 }}, {{ item.2 }});</script>
                                    <div class="date">
                                        <small id="todo_date_{{ item.2 }}">{{ item.1 }}</small>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
                <section class="card-view" style="display: None" id="ViewCard">
                    <div class="row" id="CardList">
                        {% for item in todo_data %}
                            <div id="todo_card_{{ item.2 }}" onclick="get_todo_data_ajax({{ item.2 }})" class="col-4"
                               data-toggle="modal" data-target="#Open-Todo">
                                <div class="card">
                                    <div class="card-body">
                                        <h3> {{ item.0 }} </h3>
                                        <small class="date" id="card_date_{{item.2}}">{{ item.1 }}</small>
                                    </div>
                                    <div class="card-footer">
                                        <div class="priorities" id="card_priorities_{{ item.2}}">
                                        </div>
                                        <script>get_priorities({{ item.3 }}, {{ item.2 }});</script>
                                        <button type="button" onclick="status_change({{ item.2 }}, 'done')"
                                                class="btn btn-light">&#10003;</button>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </section>
            </section>
        </div>
    </section>
</article>
<article class="modals">
    {% include "modals/todo.html" %}
</article>
<script>
	var page = {{ page }};
	for (var i = 1; i <= $('#paginate_btn_holder a').length - 2; i++)
	{
		$('#paginate_btn_' + i).removeAttr('disabled');
	}
	$('#paginate_btn_' + page).attr('disabled', 'disabled');
	{% if back_paginate_btn %}
		$("#PrevPage_Progress").removeAttr('disabled');
		$("#PrevPage_Progress").attr('onclick', 'paginate(' + (page - 1) + ', "in progress")');
	{% else %}
		$("#PrevPage_Progress").attr('disabled', 'disabled');
		$('#PrevPage_Progress').removeAttr('onclick');
	{% endif%}
	{% if next_paginate_btn %}
		$("#NextPage_Progress").removeAttr('disabled');
		$("#NextPage_Progress").attr('onclick', 'paginate(' + (page + 1) + ', "in progress")');
	{% else %}
		$("#NextPage_Progress").attr('disabled', 'disabled');
		$('#NextPage_Progress').removeAttr('onclick');
	{% endif %}
</script>
{% endblock %}