{% extends "main/base.html" %} {% block meta %} {% load staticfiles %}
<link rel="stylesheet" href='{% static "css/bootstrap.min.css" %}'>
<link rel="stylesheet" href='{% static "css/base.css" %}'>
<link rel="stylesheet" href='{% static "css/todolist.css" %}'>
<script charset='utf-8' type="text/javascript" src='{% static "js/setup_ajax.js" %}'></script>
<script charset='utf-8' type="text/javascript" src='{% static "js/todo/scripts.js" %}'></script>
{% endblock %} {% block content %}
<h1> Задачи </h1>
<div class="container-fluid">
    <div class="row main">
        <section class="menu col-md-2">
            <div class="folder">
                <button type="button" class="btn" data-toggle="modal" data-target="#New-Folder">&#9998;</button>
                <button type="button" class="btn" data-toggle="modal" data-target="#New-Folder" style="float: right;">+</button>
            </div>
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action list-group-item-primary active">Все задачи</a>
                <a href="#" class="list-group-item list-group-item-action list-group-item-primary">Завершенные</a>
                {% for folder in folders %}
					<a class="list-group-item list-group-item-action list-group-item-warning" id="folder_{{ folder.id }}">{{ folder.title }}</a>
				{% endfor %}
            </div>
        </section>
        <section class="todo-list col-md-3">
            <div class="toolbar">
                <div class="dropdown btn-lg">
                    <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Сортировка</button>
                    <div class="dropdown-menu">
                        <button type="button" class="dropdown-item" onclick="sort_todos('date_up')">Сначала новые</button>
						<button type="button" class="dropdown-item" onclick="sort_todos('date_down')">Сначала старые</button>
						<button type="button" class="dropdown-item" onclick="sort_todos('title_up')">А..Я</button>
						<button type="button" class="dropdown-item" onclick="sort_todos('title_down')">Я..А</button>
                    </div>
                    <div style="float: right;">
                        <button type="button" class="btn" data-toggle="modal" data-target="#New-Todo">&#9998;</button>
                        <button type="button" class="btn" id="add_todo_btn">+</button>
                    </div>
                </div>
                <div class="input-group search">
					<input type="search" name="aim" class="form-control" placeholder="Поиск" maxlength="255">
					<div class="input-group-append">
						<button class="btn" type="button" id="clean_search_btn" hidden>&#9747;</button>
					</div>
				</div>
            </div>
            <div class="list-group list">
                {% if no_todos %}
                    <p style="margin: auto auto auto auto">{{ lang.no_todo_title }}</p>
                {% else %}
					<p style="margin: auto auto auto auto;" hidden>{{ lang.no_todo_title }}</p>
                    {% for todo in todos %}
                        <a id="todo_{{ todo.id }}" class="list-group-item list-group-item-action list-group-item-primary">{{ todo.title }}</a>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="holder" id="show_folder_preloader" hidden>
                <div class="preloader"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
            </div>
        </section>
        <section class="view col-md-7" id="todo_show" hidden>
            <div class="todo">
                <h3 id="todo_show_title"></h3>
                <hr/>
                <h4 id="todo_show_date"></h4>
                <h4 id="todo_show_priority">>{{ lang.reminders_priority }}:
                </h4>
                <h4 id="todo_show_status">>{{ lang.reminders_status }}:
                </h4>
            </div>
            <br/>
			<button type="button" class="btn" id="edit_todo_btn">Редактировать</button>
			<button type="button" class="btn" id="delete_btn">Удалить</button>
        </section>
        <section class="view col-md-7" id="todo_add" hidden>
			<form id="save_todo_form">
				{% csrf_token %}
				<div class="input-group">
					{{ save_todo_form.todo_title }}
				</div>
				<div class="input-group">
					{{ save_todo_form.todo_time }}
				</div>
                <div class="input-group">
					{{ save_todo_form.todo_deadline }}
				</div>
                <h4>Приоритет:
                    <span class="priority">!</span>
                    <span class="priority">!</span>
                    <span class="priority">!</span>
                    <span class="priority">!</span>
                    <span class="priority">!</span>
                </h4>
				<button type="button" class="btn" id="save_todo_btn">Сохранить</button>
			</form>
		</section>
    </div>
</div>
<script>init();</script>
{% endblock %}