{% extends "main/base.html" %}

{% block content %}
    <h1>{{ header }}</h1>
    <p>Welcome to the adding event page</p>
    <form id="add_event_form">
        {% csrf_token %}
        {{ adding_form.as_p }}
    </form>
    <input type="submit" value="Add event" onclick="add_event_ajax()" id="add_event_btn">
    <script>
        function add_event_ajax()
        {
            result = "";
            form_data = $('#add_event_form').serialize();
            $("#add_event_form").find(':input').each(function(){
                $(this).attr('disabled', 'disabled');
            });
            $('#add_event_btn').attr('disabled', 'disabled');
            $.ajax({
                type: "POST",
                url: '/calendar/event/add',
                data: form_data,
                success: function(response)
                {
                    alert(response['result']);
                    if (response['result'] == "Success")
                    {
                        window.location.href = '/calendar/?just_added_event=True';
                    }
                    $("#add_event_form").find(':input').each(function(){
                       $(this).removeAttr('disabled');
                    });
                    $('#add_event_btn').removeAttr('disabled');
                }
            });

        };
    </script>
{% endblock %}
