{% extends "main/base.html" %}
{% block meta %}
{% load staticfiles %}
{% load bootstrap %}
<link rel="stylesheet" href='{% static "css/bootstrap.min.css" %}'>
<link rel="stylesheet" href='{% static "css/general.css" %}'>
<link rel="stylesheet" href='{% static "css/calendar.css" %}'>
<link rel="stylesheet" href='{% static "css/base.css" %}'>
<script language="JavaScript" src='{% static "js/setup_ajax.js" %}'></script>
<script language="JavaScript" src='{% static "js/calendar/scripts.js" %}'></script>
<script> setup_date({{ now_month_num }}, {{ now_year }}); </script>
{% endblock %}

{% block content %}
<article class="calendar">
    <section class="mast">
        <h1>Календарь</h1>
    </section>

    <section>



         <div class="row">

            <div class="col-3">
                  <section>
                      <div class="card text-white bg-test mb-3 ml-3" style="max-width:;">
                          <div class="card-header">

                            <div class="btn-group btn-group-lg center">
                                <button type="button" class="btn btn-danger btn-change" data-num="1">
                                    <picture>
                                        <img src='{% static "icons/month_icon.png" %}' class="icon">
                                    </picture>
                                </button>
                                <button type="button" class="btn btn-danger btn-change" data-num="2">
                                    <picture>
                                        <img src='{% static "icons/week_icon.png" %}' class="icon">
                                    </picture>
                                </button>
                                <button type="button" class="btn btn-danger btn-change" data-num="3">
                                    <picture>
                                        <img src='{% static "icons/list_icon.png" %}' class="icon">
                                    </picture>
                                </button>
                            </div>

                            <button type="button" class="btn btn-lg btn-danger test" data-toggle="modal" data-target="#New-Date">+</button>



                          </div>
                          <div class="card-body">
                                <button type="button" class="btn btn-lg btn-danger  btn-block" data-toggle="modal" data-target="#In-Map"   >События на
                                карте
                                </button>

                                <button type="button" class="btn btn-lg btn-danger  btn-block" data-toggle="modal" data-target="#My">Мои события
                                </button>

                                <button type="button" class="btn btn-lg btn-danger  btn-block" data-toggle="modal" data-target="#All">Все события
                                </button>

                                <button type="button" class="btn btn-lg btn-danger  btn-block" data-toggle="modal" data-target="#Recommend">
                                Рекомендованные
                                </button>

                                <hr>


                                  <div class="alert alert-danger">
                                    <small data-toggle="modal" data-target="#All event">Всего событий : 72</small>
                                    <br/>
                                    <small data-toggle="modal" data-target="#For-Today event">Событий на сегодня: 4</small>
                                    <br/>
                                    <small>Событий за вчера: 2</small>
                                    <br/>
                                    <small>Событий за неделю: 7</small>
                                    <br/>
                                    <small>Событий за месяц: 27</small>
                                    <br/>
                                    <small>Событий за год: 54</small>
                                </div>




                                <hr>

                                <div class="alert alert-danger" role="alert">
                                     Синхронизировать
                                    <caption align="right">
                                    <button type="button" class="btn btn-danger  "  data-toggle="modal" data-target="#Synchronization">
                                        <picture>
                                            <img src='{% static "icons/sync_icon.png" %}' class="icon">
                                        </picture>
                                    </button>
                                    </caption>

                                </div>







                          </div>
                      </div>



                        <nav class="navbar">






                        </nav>

                  </section>

            </div>
            <div class="col"></div>
            <div class="col-7">


                <section class="section-mouth">
                    <div class="btn-group btn-group-sm btn-mouth">
                        <a>
                            <button type="button" class="btn btn-danger" onclick="back_month()">&laquo;</button>
                        </a>

                        <h2>&nbsp;&nbsp;<span id="month_holder">{{ now_month }}</span> <span
                                id="year_holder">{{ now_year }}</span>&nbsp;&nbsp;</h2>
                        <a>
                            <button type="button" class="btn btn-danger" onclick="next_month()">&raquo;</button>
                        </a>
                        &nbsp;&nbsp;
                        <a>
                            <button type="button" class="btn btn-danger" onclick="go_to_now_month()">Сегодня</button>
                        </a>
                    </div>
                    <table class="table table-danger table-mouth" id="month_calendar">
                        <thead>
                        <tr class="bg-danger">
                            <th></th>
                            <th>Понедельник</th>
                            <th>Вторник</th>
                            <th>Среда</th>
                            <th>Четверг</th>
                            <th>Пятница</th>
                            <th>Суббота</th>
                            <th>Воскресенье</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for week in weeks %}
                        <tr>
                            <th class="bg-danger">{{ week.week_num }}</th>
                            {% for day in week.week_days %}
                            {% if day.class %}
                            <td class="{{ day.class }}">
                                <small class="date">{{ day.day }}</small>
                            </td>
                            {% else %}
                            <td>
                                <small class="date">{{ day.day }}</small>
                            </td>
                            {% endif %}
                            {% endfor %}
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </section>
                <section class="section-week">
                    <div class="btn-group btn-group-sm btn-mouth">
                        <a href="#">
                            <button type="button" class="btn btn-danger">&laquo;</button>
                        </a>

                        <h2>&nbsp;&nbsp;22.10..28.10&nbsp;&nbsp;</h2>
                        <a href="#">
                            <button type="button" class="btn btn-danger">&raquo;</button>
                        </a>
                    </div>
                    <table class="table table-danger table-week table-sm" id="table2">
                        <thead>
                        <tr class="bg-danger">
                            <th></th>
                            <th>Понедельник</th>
                            <th>Вторник</th>
                            <th>Среда</th>
                            <th>Четверг</th>
                            <th>Пятница</th>
                            <th>Суббота</th>
                            <th>Воскресенье</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th class="bg-danger"></th>
                            <td>
                                <small class="date">22</small>
                            </td>
                            <td>
                                <div class="alert alert-danger event" data-toggle="modal" data-target="#Event">
                                    День рождения
                                </div>
                                <small class="date">23</small>
                            </td>
                            <td>
                                <small class="date">24</small>
                            </td>
                            <td>
                                <small class="date">25</small>
                            </td>
                            <td class="today">
                                <small class="date">26</small>
                            </td>
                            <td>
                                <small class="date">27</small>
                            </td>
                            <td>
                                <small class="date">28</small>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </section>





                <div class="btn-group btn-group-lg mb-3">
                    <button type="button" class="btn btn-danger">Сначала новые</button>
                    <button type="button" class="btn btn-danger">Сначала старые</button>
                    <button type="button" class="btn btn-danger">А..Я</button>
                    <button type="button" class="btn btn-danger">Я..А</button>
                </div>


                <section class="section-list">
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action list-group-item-danger" data-toggle="modal"
                           data-target="#Event">Where is my mind?
                            <div class="date-and-place">
                                <small>29.02.2018</small>
                                |
                                <small><b>Москва</b></small>
                            </div>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action list-group-item-danger" data-toggle="modal"
                           data-target="#Event">Sad but True
                            <div class="date-and-place">
                                <small>13.02.2018</small>
                            </div>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action list-group-item-danger" data-toggle="modal"
                           data-target="#Event">Karma Police
                            <div class="date-and-place">
                                <small>14.02.2018</small>
                            </div>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action list-group-item-danger" data-toggle="modal"
                           data-target="#Event">Starway to Heaven
                            <div class="date-and-place">
                                <small>27.02.2018</small>
                                |
                                <small><b>Королев</b></small>
                            </div>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action list-group-item-danger" data-toggle="modal"
                           data-target="#Event">Californication
                            <div class="date-and-place">
                                <small>27.02.2018</small>
                                |
                                <small><b>Мытищи</b></small>
                            </div>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action list-group-item-danger" data-toggle="modal"
                           data-target="#Event">Personal Jesus
                            <div class="date-and-place">
                                <small>18.02.2018</small>
                            </div>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action list-group-item-danger" data-toggle="modal"
                           data-target="#Event">День рождения
                            <div class="date-and-place">
                                <small>23.10.2018</small>
                                |
                                <small><b>Королев</b></small>
                            </div>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action list-group-item-danger" data-toggle="modal"
                           data-target="#Event">Let It Be
                            <div class="date-and-place">
                                <small>22.02.2018</small>
                            </div>
                        </a>
                    </div>
                    <nav class="navbar">
                        <div class="btn-group btn-group-lg">
                            <a href="#">
                                <button type="button" class="btn btn-danger">&laquo;</button>
                            </a>
                            <a href="#">
                                <button type="button" class="btn btn-danger disabled">1</button>
                            </a>
                            <a href="#">
                                <button type="button" class="btn btn-danger">2</button>
                            </a>
                            <a href="#">
                                <button type="button" class="btn btn-danger">3</button>
                            </a>
                            <a href="#">
                                <button type="button" class="btn btn-danger">&raquo;</button>
                            </a>
                        </div>
                    </nav>
                </section>




            </div>
            <div class="col"></div>
            <div class="col"></div>
          </div>











    </section>
</article>
<article class="modals">
    {% include "modals/calendar_special.html" %}
    {% include "modals/calendar.html" %}
    {% include "modals/small_parts.html" %}
</article>
</section>
{% endblock %}