/*Стили для базовых элементов*/

/* Тень для навигационной панели */
.navbar-expand-md {
	box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.5);
}

/*Лого*/
.logo {
	width: 50px;
	height: 50px;
}

/*Кнопки "Поиск" и "Голосовой помощник" и их анимация*/
.base-button {
	border-radius: 25%;
	transition: 0.2s;
}
.base-button:hover {
	border-radius: 50%;
	transition: 0.2s;
}

/* Выделенный курсором раздел и его анимация */
.nav-item:hover {
	border-bottom: 5px solid #000;
}

/*Выбранный раздел*/
nav .active {
	border-bottom: 5px solid #000;
}

.notif {
	margin-left: 100px;
}

.notif-menu {
	width: 500px;
	height: auto;
  	box-shadow:1px 1px 25px 0px rgba(0,0,0,0.25);
}

footer {
	color: #fff;
	margin-top: 200px;
	margin-top: 3%;
}

.navbar-brand {
    margin-right: 0px;
}

.search-panel {
	margin-right: 100px;
}