/*Стили для базовых элементов*/

.navbar-expand-md {
	box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.5);
}

/*Лого*/
.logo {
	width: 50px;
	height: 50px;
	margin-right: 5px;
}

/*Кнопки "Поиск" и "Голосовой помощник" и их анимация*/
.base-button {
	border-radius: 25%;
	transition: 0.2s;
}
.base-button:hover {
	border-radius: 50%;
	transition: 0.2s;
}

.nav-item {
	transition: 0.5s;
}

.nav-item:hover {
	background-color: #dae0e5;
	border-radius: 30px;
	color: #fff;
	transition: 0.5s;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5)inset;
}

nav .active {
	background-color: #dae0e5;
	border-radius: 30px;
	color: #fff;
}

/*Подвал*/
footer {
	color: #fff;
	margin-top: 200px;
}