/*Стили для базовых элементов*/

/* Тень для навигационной панели */
.navbar-expand-md {
	box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.5);
}

/*Лого*/
.logo {
	width: 50px;
	height: 50px;
}

/*Кнопки "Поиск" и "Голосовой помощник" и их анимация*/
.base-button {
	border-radius: 25%;
	transition: 0.2s;
}
.base-button:hover {
	border-radius: 50%;
	transition: 0.2s;
}

/* Выделенный курсором раздел и его анимация */
.nav-item:hover {
	border-bottom: 5px solid #000;
}

/*Выбранный раздел*/
nav .active-link {
	border-bottom: 5px solid #000;
}

.notif {
	margin-left: 100px;
}

.notif-menu {
	width: 500px;
	height: auto;
  	box-shadow:1px 1px 25px 0px rgba(0,0,0,0.25);
}

footer {
	color: #fff;
	margin-top: 200px;
	margin-top: 3%;
}

.navbar-brand {
    margin-right: 0px;
}

.search-panel {
	margin-right: 100px;
}

h5{
	color: #856404;
}

/*Волны*/
.wave {
	position: relative;
	display: block;
	width: 100%;
	height: 10%;
	padding-top: 60%;
	overflow: hidden;
}

.d1{
	margin-top: -15%;
	height: 15%; 
	width: 1%;
	bottom: 5%;
	border-radius: 10px;
	position: absolute;
	background: #856404;

	animation: wave 17s   0.000s linear infinite;
}

.d2{
	margin-top: -15%;
	height: 15%; 
	width: 1%;
	bottom: 5%;
	border-radius: 10px;
	position: absolute;
	background: #856404;

	animation: wave 17s -16.227s linear infinite; 
}

.d3{
	margin-top: -15%;
	height: 15%; 
	width: 1%;
	bottom: 5%;
	border-radius: 10px;
	position: absolute;
	background: #856404;

	animation: wave 17s -15.455s linear infinite; 
}

.d4{
	margin-top: -15%;
	height: 15%; 
	width: 1%;
	bottom: 5%;
	border-radius: 10px;
	position: absolute;
	background: #856404;

	animation: wave 17s -14.682s linear infinite; 
}

.d5{
	margin-top: -15%;
	height: 15%; 
	width: 1%;
	bottom: 5%;
	border-radius: 10px;
	position: absolute;
	background: #856404;

	animation: wave 17s -13.909s linear infinite;
}

.d6{
	margin-top: -15%;
	height: 15%; 
	width: 1%;
	bottom: 5%;
	border-radius: 10px;
	position: absolute;
	background: #856404;

	animation: wave 17s -13.136s linear infinite; 
}

.d7{
	margin-top: -15%;
	height: 15%; 
	width: 1%;
	bottom: 5%;
	border-radius: 10px;
	position: absolute;
	background: #856404;

	animation: wave 17s -12.364s linear infinite; 
}

.d8{
	margin-top: -15%;
	height: 15%; 
	width: 1%;
	bottom: 5%;
	border-radius: 10px;
	position: absolute;
	background: #856404;

	animation: wave 17s -11.591s linear infinite; 
}

.d9{
	margin-top: -15%;
	height: 15%; 
	width: 1%;
	bottom: 5%;
	border-radius: 10px;
	position: absolute;
	background: #856404;

	animation: wave 17s -10.818s linear infinite; 
}

.d10{
	margin-top: -15%;
	height: 15%; 
	width: 1%;
	bottom: 5%;
	border-radius: 10px;
	position: absolute;
	background: #856404;

	animation: wave 17s -10.045s linear infinite; 
}

.d11{
	margin-top: -15%;
	height: 15%; 
	width: 1%;
	bottom: 5%;
	border-radius: 10px;
	position: absolute;
	background: #856404;

	animation: wave 17s  -9.273s linear infinite;
}

.d12{
	margin-top: -15%;
	height: 15%; 
	width: 1%;
	bottom: 5%;
	border-radius: 10px;
	position: absolute;
	background: #856404;

	animation: wave 17s -8.500s  linear infinite; 
}

.d13{
	margin-top: -15%;
	height: 15%; 
	width: 1%;
	bottom: 5%;
	border-radius: 10px;
	position: absolute;
	background: #856404;

	animation: wave 17s -7.727s linear infinite; 
}

.d14{
	margin-top: -15%;
	height: 15%; 
	width: 1%;
	bottom: 5%;
	border-radius: 10px;
	position: absolute;
	background: #856404;

	animation: wave 17s -6.955s linear infinite; 
}

.d15{
	margin-top: -15%;
	height: 15%; 
	width: 1%;
	bottom: 5%;
	border-radius: 10px;
	position: absolute;
	background: #856404;

	animation: wave 17s -6.182s linear infinite; 
}

.d16{
	margin-top: -15%;
	height: 15%; 
	width: 1%;
	bottom: 5%;
	border-radius: 10px;
	position: absolute;
	background: #856404;

	animation: wave 17s -5.409s linear infinite; 
}

.d17{
	margin-top: -15%;
	height: 15%; 
	width: 1%;
	bottom: 5%;
	border-radius: 10px;
	position: absolute;
	background: #856404;

	animation: wave 17s -4.636s linear infinite; 
}

.d18{
	margin-top: -15%;
	height: 15%; 
	width: 1%;
	bottom: 5%;
	border-radius: 10px;
	position: absolute;
	background: #856404;

	animation: wave 17s -3.864s linear infinite; 
}

.d19{
	margin-top: -15%;
	height: 15%; 
	width: 1%;
	bottom: 5%;
	border-radius: 10px;
	position: absolute;
	background: #856404;

	animation: wave 17s -3.091s linear infinite; 
}

.d20{
	margin-top: -15%;
	height: 15%; 
	width: 1%;
	bottom: 5%;
	border-radius: 10px;
	position: absolute;
	background: #856404;

	animation: wave 17s -2.318s linear infinite; 
}

.d21{
	margin-top: -15%;
	height: 15%; 
	width: 1%;
	bottom: 5%;
	border-radius: 10px;
	position: absolute;
	background: #856404;

	animation: wave 17s  -1.545s linear infinite;
}

.d22{
	margin-top: -15%;
	height: 15%; 
	width: 1%;
	bottom: 5%;
	border-radius: 10px;
	position: absolute;
	background: #856404;

	animation: wave 17s  -0.773s linear infinite;	
}

@keyframes wave {
	0%  { left:-2%;}
	10%  { height:1%; margin-top: -1%;}
	20%  { height:20%; margin-top: -20%;}
	30%  { height:1%; margin-top: -1%;}
	40%  { height:5%; margin-top: -5%;}
	50%  { height:1%; margin-top: -1%;}
	60%  { height:25%; margin-top: -25%;}
	70%  { height:1%; margin-top: -1%;}
	80%  { height:10%; margin-top:-10%;}
	90%  { height:1%; margin-top: -1%;}
	100% { height:15%; margin-top:-15%; left:100%;}
}
