
/*Цвет и распложение текста в таблице*/
table {
  text-align: center;
}

h2 {
  color: #fff;
}

/*Оформление ячейки и ее аимация при наведении*/
td {
  border: 1px solid #e2e6ea;
  transition: 0.2s;
  width: 150px;
  height: 150px;
}
td:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: #e2e6ea;
  transition: 0.2s;
  border: 0px;
}

/*Цвет ячейки 'Сегодня' и ее анимация при наведении*/
.today {
  background-color: #dae0e5;
  transition: 0.2s;
}
.today:hover {
  background-color: #dae0e5;
  border-radius: 0 0 0 0;
  transition: 0.2s;
}

/*Кнопка 'Месяц'*/
.btn-mouth {
  text-align: center;
  padding: 10px;
}

/*Таблица неделей*/
.table-week td {
  height: 50px;
}

/*Таблица дней*/
.table-list td {
  height: 50px;
}

/*Дата*/
.date {
  float: right;
  bottom: 10px;
  font-size: 20pt;
}

/*Даты, не вхолдящие в данный месяц*/
.future-date {
  background-color: #d3d9df;
}

/*Событие*/
.event {
  text-align: center;
  border: 1px solid #818182;
  background-color: #d3d9df;
  cursor: pointer;
}

/*Расположение лайка*/
.like {
  float: right;
}

/*Комментарий*/
.comment {
  margin-top: 15px;
}

/*Дата в комментарии*/
.date-of-comments {
  float: left;
  font-size: 10pt;
}

/*Дата в списке*/
.date-and-place {
  float: right;
}