/*Стили для раздела календаря*/

/*Заголовок*/
h1 {
  color: #721c24;
}

/*Элементы навигационной панели*/
.nav-item:hover {
  background-color: #f8d7da;
  color: #721c24;
}
nav .active {
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  color: #721c24;
}

/*Шапка*/
.mast {
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
  color: #721c24;
  border: 1px solid #f5c6cb;
  border-top: 0px;
  background-color: #f8d7da;
  border-radius: 0 0 15px 15px;
}

.change-button{
  margin-top: 15px;
}

/*Кнопки*/
.btn,
.btn:focus,
.btn:active {
  color: #721c24;
  text-shadow: none;
  background-color: #f8d7da;
  border: .05rem solid #f5c6cb;
  transition: 0.5s;
}
.btn:hover {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5)inset;
  color: #721c24;
  text-shadow: none;
  background-color: #f8d7da;
  border: .05rem solid #f5c6cb;
  transition: 0.5s;
}

/*Карточки*/
.card {
  background-color: #f8d7da;
  height: 400px;
  width: 400px;
  transition: 0.5s;
  margin: 10px;
  margin-bottom: 40px;
  cursor: pointer;
  border-radius: 15px;
}
.card:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5)inset;
  transition: 0.5s;
}

/*Лого*/
.logo {
  color: #721c24;
}

/*Заголовок у модуля*/
.modal-header {
  background-color: #f5c6cb;
  border-bottom: 0px;
}

/*Тело у модуля*/
.modal-body {
  background-color: #f8d7da;
}

/*Подвал у модуля*/
.modal-footer {
  background-color: #f5c6cb;
  border-top: 0px;
}

.month-now {
  width: 270px;
  color: #f8d7da;
}

/*Подвал*/
footer {
  color: #f8d7da;
}

/*Цвет и распложение текста в таблице*/
table {
  text-align: center;
  border: 1px solid #721c24;
}

/*P*/
h2 {
  color: #721c24;
}

th {
  width: 100px;
}

.table {
  height: auto;
  width: 1200px;
}

.section-mouth {
  margin-left: 150px;
}

/*Оформление ячейек и ее аимация при наведении*/
td {
  border: 1px solid #721c24;
  background-color: #f5c6cb;
  transition: 0.2s;
  width: 150px;
  height: 150px;
}
td:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: #f8d7da;
  cursor: pointer;
  transition: 0.2s;
  border: 2px solid #721c24;
}

.table th {
  background-color: #f8d7da;
  border: 2px solid #721c24;
  vertical-align: middle;
  background-color: #f9d9cb;
}
.table thead th {
    vertical-align: bottom;
    border: 2px solid #721c24;
    background-color: #f9d9cb;
}

/*Цвет ячейки 'Сегодня' и ее анимация при наведении*/
.today {
  color: #f8d7da;
  background-color: #721c24;
}
.today:hover {
  color: #f8d7da;
  background-color: #721c24;
  border-radius: 0 0 0 50%;
}

/*Кнопка 'Месяц'*/
.btn-mouth {
  text-align: center;
  padding: 10px;
}

/*Таблица неделей*/
.table-week td {
  height: 50px;
}

/*Таблица дней*/
.table-list td {
  height: 50px;
}

/*Дата*/
.date {
  float: right;
  bottom: 10px;
  font-size: 20pt;
}

/*Даты, не вхолдящие в данный месяц*/
.future-date {
  background-color: #f9c8da;
}
.future-date:hover {
  background-color: #f9c8da;
  box-shadow: 0 0 0px rgba(0, 0, 0, 0);
  border: 1px solid #721c24;
}

/*Событие*/
.event {
  text-align: center;
  border: 1px solid #f5c6cb;
  color: #f8d7da;
  background-color: #721c24;
  cursor: pointer;
}

/*Расположение лайка*/
.like {
  float: right;
}

/*Комментарий*/
.comment {
  margin-top: 15px;
}

/*Дата в комментарии*/
.date-of-comments {
  float: left;
  font-size: 10pt;
}

/*Дата в списке*/
.date-and-place {
  float: right;
}

/*Список*/
.list-group-item {
  color: #721c24; 
  transition: 0.5s;
  margin-top: 10px;
  width: 1000px;
  border-radius: 15px 15px 15px 15px;
}
.list-group-item:hover {
  color: #721c24;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}

.noanimation{
    height: auto ;
    width: 230px;
    border-radius: 15px;
    text-align: center;
    margin-top: : 150px;
    cursor: default;

}

.btn-btn {
  margin: 5px 20px;
}

.noanimation:hover{
  box-shadow: 0 0;
}
