body {
  background-color: #fef;
}

.nav-item:hover {
  border-bottom: 5px solid #f5c6cb;
}

nav .active {
  border-bottom: 5px solid #721c24;
}

.logo {
  color: #721c24;
}

h1 {
  color: #721c24;
  margin: 8% 50px 50px 50px;
}

h3 {
  color: #721c24;
}

.btn {
  color: #721c24;
  background-color: #f5c6cb;
  border: 1px solid rgba(0, 0, 0, .125);
  transition: 0.2s;
}

.btn:hover {
  color: #721c24;
  background-color: #f5c6cb;
  border: 1px solid rgba(0, 0, 0, .125);
  box-shadow: 1px 1px 25px 0px rgba(0, 0, 0, 0.25);
  transition: 0.2s;
}

a {
  color: #721c24;
}

a:hover {
  color: #721c24;
  text-decoration: none;
  text-shadow: 1px 1px 25px 0px rgba(0, 0, 0, 0.25);
}

.icon {
  width: 25px;
  height: 25px;
  text-align: center;
}

.main {
  border-top: 2px solid #721c24;
  height: 550px;
}

.menu {
  padding: 0px;
  border-right: 2px solid #721c24;
}

.folder {
  margin: 15px;
}

.list-group {
  margin: 0;
  padding: 0;
}

.list-group-item {
  transition: 0.5s;
}

.list-group-item:hover {
  box-shadow: 1px 1px 25px 0px rgba(0, 0, 0, 0.25);
  transition: 0.5s;
}

.notes-list {
  border-right: 2px solid #721c24;
  border-left: 2px solid #721c24;
  padding: 0px;
  height: 550px;
  width: 100%;
  overflow: auto;
}

.toolbar {
  border-bottom: 2px solid #721c24;
}

.dropdown {
  padding: 0px;
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 15px;
}

.input-group {
  margin: 15px 0px;
}

.search {
  margin-top: 15px;
  margin-right: 15px;
  margin-left: 15px;
  width: auto;
}

.view {
  height: 550px;
}

.note {
  padding: 15px;
  height: 550px;
  width: 100%;
  overflow: auto;
}

table {
  text-align: center;
  border: 1px solid #721c24;
  margin-left: 15px;
}

h2 {
  color: #721c24;
}

th {
  width: 50px;
  height: 50px;
}

.table {
  width: 1200px;
  margin-top: 7px;
}

td {
  border: 1px solid #721c24;
  background-color: #f5c6cb;
  transition: 0.2s;
  width: 150px;
  height: 150px;
}

td:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: #f8d7da;
  cursor: pointer;
  transition: 0.2s;
  border: 2px solid #721c24;
}

.table th {
  background-color: #f8d7da;
  border: 2px solid #721c24;
  color: #721c24;
  vertical-align: middle;
  background-color: #f9d9cb;
}

.table thead th {
  vertical-align: bottom;
  border: 2px solid #721c24;
  background-color: #f9d9cb;
}

.date {
  float: right;
  color: #721c24;
  bottom: 10px;
  font-size: 20pt;
}

.join {
  margin: auto;
  padding: auto;
}

.modal-header {
  background-color: #f5c6cb;
  border-bottom: 0px;
}

.modal-body {
  background-color: #fff3cd;
}

.modal-footer {
  background-color: #f5c6cb;
  border-top: 0px;
}