/*Стили, используемые во всех страницах*/

/*Подчеркивание ссылок (скорее их отсуствие)*/
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

/*Оформление для блока редактирования текста*/
.WYSIWYG {
  margin-top: 5px;
  float: right;
  color: #fff;
}

/*Оформление границ расположения контента*/
.content {
  padding: 0 20%;
}

/*Размер шрифта названия раздела*/
h1 {
  font-weight: 300;
}

/*Отступ у блока статистики*/
.alert {
  margin: 10px 0;
}

/*Отступ списка снизу*/
.list-group {
  margin-bottom: 20px;
}

/*Оформление элементов списка и их анимация при наведении*/
.list-group-item {
  transition: 0.2s;
}
.list-group-item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: 0.2s;
}

/*Оформление иконки*/
.icon {
  width: 25px;
  height: 25px;
  text-align: center;
}
