.card {
  background-color: #fff;
  height: 500px;
  transition: 0.5s;
  margin: 10px;
  margin-bottom: 40px;
  cursor: pointer;
}

.card:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5)inset;
  transition: 0.5s;
}

.last {
  height: 340px;
  width: 340px;
  border: 5px #333 dotted;
  text-align: center;
  background-color: #fff;
  font-size: 50pt;
  padding-top: 20%;
  color: #333;
}

.date {
  font-size: 10pt;
  float: right;
}

.user-image {
  width: 200px;
  height: 200px;
}