/*Стили для раздела заметок*/
body {
    background-color: #ffe;
}
/*Элементы навигационной панели*/
.nav-item:hover {
  border-bottom: 5px solid #ffeeba;
}
nav .active {
  border-bottom: 5px solid #856404;
}

/*Лого*/
.logo {
	color: #856404;
}

h1 {
  color: #856404;
  margin: 11% 50px 50px 50px;
}

.btn-warning {
color: #856404;
    background-color: #ffeeba;
}

.main {
  border-top: 2px solid #856404;
  height: 500px;
}

.menu {
  padding: 0px;
}

.notes-list {
  border-right: 2px solid #856404;
  border-left: 2px solid #856404;
  padding: 0px;
  height:500px;
  width:100%;
  overflow:auto;
}

.add {
  margin: 5px;
}

.list-group-item {
  transition: 0.5s;
}

.list-group-item:hover {
  box-shadow:1px 1px 25px 0px rgba(0,0,0,0.25);
  transition: 0.5s;
}

.input-group {
  margin: 15px 0px;
}

.name {
  width: 500px;
}

.description {
  height: 350px;
}

.list-group {
  margin: 0;
  padding: 0;
}

.dropdown {
  margin: 5px 25px;
}

.alert {
  margin-left: 15px ;
  margin-right: 15px ;
}

/*Заголовок у модуля*/
.modal-header {
  background-color: #ffeeba;
  border-bottom: 0px;
}

/*Тело у модуля*/
.modal-body {
  background-color: #fff3cd;
}

/*Подвал у модуля*/
.modal-footer {
  background-color: #ffeeba;
  border-top: 0px;
}

.icon {
  width: 25px;
  height: 25px;
  text-align: center;
}

.date {
  color: #856404;
  margin-left: 10px;
  margin-top: 10px;
}

.btn {
    color: #856404;
    background-color: #ffeeba; 
    border: 1px solid rgba(0,0,0,.125);
    transition: 0.2s;
}

.btn:hover {
    color: #856404;
    background-color: #ffeeba; 
    border: 1px solid rgba(0,0,0,.125);
    box-shadow:1px 1px 25px 0px rgba(0,0,0,0.25);
    transition: 0.2s;
}