/*Стили для личного кабинета*/

/*Цвет фона*/
body {
  background-color: #eee;
}

/*Границы контента*/
.profile {
  padding: 5% 20%;
}

/*Иконка*/
.icon {
  width: 25px;
  height: 25px;
  text-align: center;
}

/*Аватарка*/
.avatar {
  width: 96px;
  height: 96px;
  border: 1px solid gray;
  border-radius: 50% 50% 0 0;
}

/*Кнопка изменения аватарки*/
.change-avatar {
  text-align: center;
  margin: auto;
  margin-right: 10px;
  float: left;
}

/*Заголовок модуля*/
.modal-header {
  background-color: #eee;
}

/*Подвал модуля*/
.modal-footer {
  background-color: #eee;
}