body {
  background-color: #eff;
}

.nav-item:hover {
  border-bottom: 5px solid #b8daff;
}

nav .active-link {
  border-bottom: 5px solid #004085;
}

.logo {
  color: #004085;
}

h1 {
  color: #004085;
  margin: 8% 50px 50px 50px;
}

h3, h4 {
  color: #004085;
}

.btn {
  color: #004085;
  background-color: #b8daff;
  border: 1px solid rgba(0, 0, 0, .125);
  transition: 0.2s;
}

.btn:hover {
  color: #004085;
  background-color: #b8daff;
  border: 1px solid rgba(0, 0, 0, .125);
  box-shadow: 1px 1px 25px 0px rgba(0, 0, 0, 0.25);
  transition: 0.2s;
}

.active {
  background-color: #9fcdff;
}

a {
  color: #004085;
}

a:hover {
  color: #004085;
  text-decoration: none;
  text-shadow: 1px 1px 25px 0px rgba(0, 0, 0, 0.25);
}

.icon {
  width: 25px;
  height: 25px;
  text-align: center;
}

.delete {
  color: #721c24;
  background-color: #f5c6cb;
  border: 1px solid rgba(0, 0, 0, .125);
  padding: 1px 5px;
  margin-right: 5px;
  border-radius: 50%;  
}

.main {
  border-top: 2px solid #004085;
  height: 550px;
}

.menu {
  padding: 0px;
}

.folder {
  margin: 15px;
}

.list-group {
  margin: 0;
  padding: 0;
}

.list-group-item {
  transition: 0.5s;
}

.list-group-item:hover {
  box-shadow: 1px 1px 25px 0px rgba(0, 0, 0, 0.25);
  transition: 0.5s;
}

.todo-list {
  border-right: 2px solid #004085;
  border-left: 2px solid #004085;
  padding: 0px;
  height: 550px;
  width: 100%;
  overflow: auto;
}

.toolbar {
  border-bottom: 2px solid #004085;
}

.dropdown {
  padding: 0px;
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 15px;
}

.input-group {
  margin: 15px 0px;
}

.search {
  margin-top: 15px;
  margin-right: 15px;
  margin-left: 15px;
  width: auto;
}

.view {
  height: 550px;
}

.todo {
  padding: 15px;
  height: 490px;
  width: 100%;
  overflow: auto;
}

.priority {
  color: #004085;
  background-color: #b8daff;
  border: 1px solid rgba(0, 0, 0, .125);
  padding: 1px 11px;
  border-radius: 50%;
}

.lose-todo{
  color: red;
}

.win-todo {
  color: green;
}

.join {
  margin: auto;
  padding: auto;
}

.modal-header {
  background-color: #b8daff;
  border-bottom: 0px;
}

.modal-body {
  background-color: #fff3cd;
}

.modal-footer {
  background-color: #b8daff;
  border-top: 0px;
}