/*Стили для раздела напоминаний*/

/*Заголовок*/
h1 {
  color: #004085;
}

/*Элементы навигационной панели*/
.nav-item:hover {
  background-color: #cce5ff;
  color: #004085;
}
nav .active {
  background-color: #cce5ff;
  border: 1px solid #b8daff;
  color: #004085;
}

/*Шапка*/
.mast {
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
  color: #004085;
  border: 1px solid #b8daff;
  border-top: 0px;
  background-color: #cce5ff;
  border-radius: 0 0 15px 15px;
  margin-bottom: 25px;
}

/*Кнопки*/
.btn,
.btn:focus,
.btn:active {
  color: #004085;
  text-shadow: none;
  background-color: #cce5ff;
  border: .05rem solid #b8daff;
  transition: 0.5s;
}
.btn:hover {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5)inset;
  color: #004085;
  text-shadow: none;
  background-color: #cce5ff;
  border: .05rem solid #b8daff;
  transition: 0.5s;
}

/*Список*/
.list-group-item {
  color: #004085; 
  transition: 0.5s;
  margin-top: 10px;
  width: 1000px;
  margin-left: 150px;
  border-radius: 15px 15px 15px 15px;
}
.list-group-item:hover {
  color: #004085;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}

/*Лого*/
.logo {
  color: #004085;
}

/*Заголовок у модуля*/
.modal-header {
  background-color: #b8daff;
  border-bottom: 0px;
}

/*Тело у модуля*/
.modal-body {
  background-color: #cce5ff;
}

/*Подвал у модуля*/
.modal-footer {
  background-color: #b8daff;
  border-top: 0px;
}

/*Подвал*/
footer {
  color: #cce5ff;
}

/*Оформление карты и анимация при наводке*/
.card {
  background-color: #cce5ff;
  height: 200px;
  width: 400px;
  transition: 0.5s;
  margin: 10px;
  margin-bottom: 40px;
  cursor: pointer;
  border-radius: 15px;
}
.card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: 0.2s;
}

/*Оформление последней карты для добавления нового напоминания*/
.last {
  border: 5px #dae0e5 dotted;
  text-align: center;
  background-color: #cce5ff;
  font-size: 25pt;
}

/*Оформление даты в списках*/
.date {
  font-size: 8pt;
  float: right;
}

/*Позиционирование значков приоритета*/
.priorities {
  float: right;
}

/*Оформление блока приоритета*/
.priority {
  border-radius: 50%;
  background-color: #cce5ff;
  font-size: 12pt;
  color: #004085;
}

/*Оформление значка с приоритетами*/
.priority-list {
  border-radius: 50%;
  background-color: #cce5ff;
  font-size: 12pt;
  color: #004085;
  text-align: center;
}

/*Оформление последнего значка приоритета*/
.priority-list-last {
  border-radius: 50%;
  background-color: #cce5ff;
  font-size: 12pt;
  color: #004085;
  margin-right: 50px;
  text-align: center;
}

.noanimation{
    height: auto ;
    width: 230px;
    border-radius: 15px;
    text-align: center;
    margin-top: : 150px;
        cursor: default;
}

.noanimation:hover{
  box-shadow: 0 0;
}

