/*Оформление карты и анимация при наводке*/
.card {
  background-color: #f8f9fa;
  cursor: pointer;
  transition: 0.2s;
  margin: 10px;
  margin-bottom: 40px;
}
.card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: 0.2s;
}

/*Оформление последней карты для добавления нового напоминания*/
.last {
  border: 5px #dae0e5 dotted;
  text-align: center;
  background-color: #f8f9fa;
  font-size: 25pt;
}

/*Оформление даты в списках*/
.date {
  font-size: 8pt;
  float: right;
}

/*Позиционирование значков приоритета*/
.priorities {
  float: right;
}

/*Оформление блока приоритета*/
.priority {
  border-radius: 50%;
  background-color: #f8f9fa;
  font-size: 12pt;
  color: #212529;
}

/*Оформление значка с приоритетами*/
.priority-list {
  border-radius: 50%;
  background-color: #f8f9fa;
  font-size: 12pt;
  color: #212529;
  text-align: center;
}

/*Оформление последнего значка приоритета*/
.priority-list-last {
  border-radius: 50%;
  background-color: #f8f9fa;
  font-size: 12pt;
  color: #212529;
  margin-right: 50px;
  text-align: center;
}